.DS_Store
.metadata
.classpath
.settings
.project
Servers
build
!/build/
/build/artifacts
/build/.project
bin
webapp/src/main/webapp/VAADIN/widgetsets
webapp/GWT development mode for webapp.launch
desktop.ini
gwt-unitCache
.pmd
.checkstyle
rebel.xml
target/
styles.css
addons.scss
derby.log
