<table width="100%" cellpadding="0" cellspacing="0"><tr>
<td style="
	font-weight: bold; 
	font-size: larger; 
	width: 150px;
	vertical-align: top;
">
	<div location="captionlabel"></div>
</td>
<td>
	<div location="formattingsyntax" style="float: right;"></div>
	<div location="toolbar"></div>
	<div location="input"></div>
	<div class="previewcaption">Post preview:</div>
	<div location="preview"></div>
	<div class="buttons">
		<div location="postbutton"></div>
		<div location="clearbutton"></div>
	</div>
</td>
</tr></table>


