html {
    padding: 8px;
}

body {
    width: 100%;
    line-height: 22px;
    margin: 0 !important;
}

code {
    white-space: pre;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #777;
    line-height: 1.5em;
    max-height: 306px;
    overflow: auto;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    display: inline-block;
    width: 100% !important;
    height: auto !important;
    padding-left: 31px;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

code:BEFORE {
    content: "1 2 3 4 5 6 7 8 9 . .";
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    height: 100%;
    white-space: normal;
    text-align: right;
    color: #AAA;
    overflow: hidden;
    background: #fafafa;
    padding: 0 9px 0 8px;
    border-right: 1px solid #CCC;
}

blockquote {
    display: inline-block;
    padding: 10px 0 12px;
    width: 100%;
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

blockquote cite {
    font-style: normal;
    font-weight: bold;
    padding-bottom: 7px;
    display: block;
}

blockquote cite:AFTER {
    content: ":";
}

blockquote cite + div {
    border: 1px solid #777;
    padding: 11px 38px;
    background: white url(../images/quoteleft.png) left top no-repeat;
    position: relative;
}

blockquote cite + div:AFTER {
    content: "";
    background: white url(../images/quoteright.png) left top no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 31px;
    height: 24px;
}

.cke_panel_block,
.cke_panel_listItem,
.cke_panel_listItem a {
    outline: none;
}
