.breadcrumbs-layout table {
	max-width: 100%;
}

.breadcrumbs .action-bar {
	padding: 6px 14px 0 0;
}

.breadcrumbs-layout .v-link {
	overflow: hidden;
	text-overflow: ellipsis;
}

.breadcrumbs a {
	/* need to override liferay defaults */
	display: inline;
}

.breadcrumbs div[location='dashboard'],
.breadcrumbs div[location='category'], 
.breadcrumbs div[location='categorypopup'] {
	padding: 0 15px;
}

.breadcrumbs .v-popupbutton.last {
	background: transparent;
}

.breadcrumbs #breadcrumbsrow > td {
	height: 32px;
}

.breadcrumbs div[location='category'] {
	padding-right: 0;
} 
.breadcrumbs div[location='categorypopup'] {
	padding-left: 0;
} 

.breadcrumbs div[location='dashboard'] {
	background: url(images/separator-breadcrumbs.png) transparent no-repeat right center;
}

.breadcrumbs {
	background-color: #e0e0e0;
	border-radius: 4px;
}

.breadcrumbs .breadcrumbs-wrapper {
	background-color: #c0c0c0;
}

.breadcrumbs .action-bar .v-link .v-icon {
	padding-right: 3px
}

.breadcrumbs .action-bar .v-link {
	margin-left: 5px;
	color: #34404F;
	font-weight: bold;
	font-size: 14px;
}

.breadcrumbs .action-bar .v-link span {
	text-decoration: none;
}

.breadcrumbs .v-label {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 17px 12px 17px;
}

.breadcrumbs .breadcrumbs-layout .v-button-wrap {
	background: transparent;
	border: none;
}

.breadcrumbs .breadcrumbs-layout .v-button-caption {
	text-shadow: none;
}

.breadcrumbs .v-button {
	padding-right: 7px;
	background: url("images/separator-breadcrumbs.png") no-repeat right center;
	background-color: transparent;
}

.breadcrumbs .s-button {
	background: none;
}

.breadcrumbs .s-popup {
	margin-left: -10px;
}

.breadcrumbs .splitbutton .v-horizontallayout-slot:first-child .v-button {
	background-image: none;
	padding-right: 0;
}
