.breadcrumbs .action-bar {
	padding: 6px 14px 0 0;
}

.breadcrumbs div[location='dashboard'],
.breadcrumbs div[location='category'], 
.breadcrumbs div[location='categorypopup'] {
	padding: 0 15px;
}

.breadcrumbs .v-popupbutton.last {
	background: transparent;
}

.breadcrumbs #breadcrumbsrow > td {
	height: 32px;
}

.breadcrumbs div[location='category'] {
	padding-right: 0;
} 
.breadcrumbs div[location='categorypopup'] {
	padding-left: 0;
} 

.breadcrumbs div[location='dashboard'] {
	background: url(images/separator-breadcrumbs.png) transparent no-repeat right center;
}

.breadcrumbs {
	background-color: #e0e0e0;
	border-radius: 4px;
}

.breadcrumbs .breadcrumbs-wrapper {
	background-color: #c0c0c0;
}

.breadcrumbs .action-bar .v-link .v-icon {
	padding-right: 3px
}

.breadcrumbs .action-bar .v-link {
	margin-left: 5px;
	color: #34404F;
	font-weight: bold;
	font-size: 14px;
}

.breadcrumbs .action-bar .v-link span {
	text-decoration: none;
}

.breadcrumbs .v-label {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 17px 12px 17px;
}

.breadcrumbs .v-verticallayout-slot:first-child {
	background-color: #d2d2d2;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-top-left-border-radius: 4px;
	-webkit-top-right-border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.breadcrumbs .v-verticallayout-slot:nth-child(2) {
	background-color: #e0e0e0;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.breadcrumbs .breadcrumbs-layout .last {
	/* overrides liferay theme */
	margin: 0;
}

.breadcrumbs .breadcrumbs-layout .v-button-wrap {
	background: transparent;
	border: none;
}

.breadcrumbs .breadcrumbs-layout .v-button-caption {
	text-shadow: none;
}

.breadcrumbs .v-button {
	padding-right: 7px;
	background: url("images/separator-breadcrumbs.png") no-repeat right center;
	background-color: transparent;
}

.breadcrumbs .s-button {
	background: none;
}

.breadcrumbs .s-popup {
	margin-left: -10px;
}

.breadcrumbs .splitbutton .v-horizontallayout-slot:first-child .v-button {
	background-image: none;
	padding-right: 0;
}

.breadcrumbs .last .splitbutton .v-button {
	background-image: none;
	cursor: default;
}

.breadcrumbs .last .splitbutton .v-button:hover .v-button-wrap{
	color: #369; /* <- default color */ 
}