.categoryTree .category.normal {
	float: left;
}

.categoryTree .category .contextmenu {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;	
}

.categoryTree .category:hover .contextmenu {
	visibility: visible;
}

.v-ios .categoryTree .contextmenu {
	display: none;
}

.v-link-categoryLink {
	display: block;
}

.v-treetable-treespacer {
	display:inline-block;
	background: transparent;
	width:18px;
}

.categoryTree .v-treetable-treespacer {
	float:left;
	height:13px
}

.categoryTree .v-treetable-node-closed {
	background: url(images/treetable-triangles-closed.png) right top no-repeat;
}

.categoryTree .v-treetable-node-open {
	background: url(images/treetable-triangles-open.png) right top no-repeat;
}

.v-csslayout.category {
	position: relative;
}

.v-csslayout.category .v-label-threadCount {
	float:right;
	margin-right:20px;
	text-align: right;
}