.menupopup .link {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
}

.menupopup .link:last-child {
	border: 0;
}

.menupopup .v-button-caption {
	color: black;
	text-decoration: none;
}

.menupopup .link:hover {
	background-color: #DDD;
}

.v-popupbutton-popup,
.v-thread-listing-row-popup {
	background-color: #F8F8F9;
	background-image: none;
	padding: 0;
	margin: 0;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
}

.contextmenu .v-button-opened {
	visibility: visible;
}

.menupopup .v-button-caption:before { 
	font-family: 'Tori-Icons';
	padding-right: 5px; 
	font-size: 16px;
	vertical-align: middle;
}

.menupopup .icon-follow .v-button-caption:before { content: "\e00d"; }
.menupopup .icon-unfollow .v-button-caption:before { content: "\e002"; }
.menupopup .icon-ban .v-button-caption:before { content: "\e011"; }
.menupopup .icon-unban .v-button-caption:before { content: "\e003"; }
.menupopup .icon-delete .v-button-caption:before { content: "\e00f"; }
.menupopup .icon-edit .v-button-caption:before { content: "\e00e"; }
