.v-floatingbar {
    position: fixed !important;
    padding: 0;
    white-space: normal;
    -moz-box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
    box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
    z-index: 99 !important;
    
    &.alignment-bottom {
        top: auto !important;
        bottom: 0;
        -moz-box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
        -webkit-box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
        box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
    }
}

