@import url("../liferay-v7/styles.css");
@import url("breadcrumbs.css");
@import url("categoryview.css");
@import url("threadlisting.css");
@import url("contextmenu.css");
@import url("threadview.css");

.v-view .v-label-h1,
.v-view .v-label-h2,
.v-view .v-label-h3 {
	color: #34404F;
}

.v-view {
	font-size: 14px;
}

.v-popupbutton.popupIndicatorHidden .v-popup-indicator {
	display: none;
}