@import "variables.scss";

.threadlisting {
    width: 100%;
    border: 1px solid $grid-border-color;
    border-bottom: none;
}

.threadlisting.v-widget .header,
.threadlisting.v-widget .topic {
    font-size: 15px;
}

.threadlisting .header {
    background-color: $header-background-color;
    position: relative;
    height: 32px;
    border-bottom: 1px solid $grid-border-color;
}

.threadlistingrow.following {
    background: url(images/following-badge.png) #fff top left no-repeat;
}

.threadlisting .header-topic, 
.threadlisting .header-startedby, 
.threadlisting .header-posts, 
.threadlisting .header-latestpost {
    position: absolute;
    top: 7px;
}

.threadlisting .header-topic {
    padding-left: 25px;
}

.threadlistingrow {
    display: block;
    position: relative;
}

.threadlistingrow:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.threadlistingrow:hover {
    background-color: #edf8fd;
    
    .topic {
        text-decoration: underline;
    }
}

.threadlistingrow,
.threadlisting-placeholder {
    border-bottom: 1px solid $grid-border-color;;
}

.threadlisting-placeholder {
    background: url("images/loadingthread-bg.png") left center no-repeat transparent;
}

.threadlistingrow.unread .topic {
    font-weight: bold;    
}

.threadlistingrow .contextmenu {
    width: 16px;
    margin-right: 16px;
    float: right;
}

.threadlistingrow .contextmenu {
    visibility: hidden;    
}

.threadlistingrow:hover .contextmenu {
    visibility: visible;    
}

.threadlistingrow .contextmenu {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 350px;
    top: 12px;
    
    &:before {
        font-family: "Tori-Icons";
        content: "\e005";
        height: 30px;
        width: 30px;
    }
}



.v-touch .threadlistingrow .contextmenu {
    display: none;
    visibility: hidden;
}

.threadlisting .startedby,
.threadlisting .latestpost,
.threadlisting .fixed-column-headers .startedby, 
.threadlisting .fixed-column-headers .latestpost {
    width: 140px;
}

.threadlisting .posts {
    width: 50px;
}

.threadlistingrow,
.threadlisting-placeholder {
    width: 100%;
    border-width: 0 0 1px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.threadlistingrow > div {
    display: block;
    position: absolute;
    color: #464440;
    white-space: nowrap;
    overflow: hidden;
}

.threadlistingrow .locked,
.threadlistingrow .sticky {
    height: 8px;
    width: 8px;
    margin:0;
    padding:0;
    top: 15px; /* center */
}

.threadlistingrow .locked {
    background-image: url("images/icon-small-locked.png");
    left: 4px;
}
.threadlistingrow .sticky {
    background-image: url("images/icon-small-sticky.png");
    left: 14px;
}

.threadlistingrow .topic {
    padding-left: 25px;
    color: #2aaae6;
}

.threadlistingrow .topic,
.threadlistingrow .startedby,
.threadlistingrow .postcount {
    padding-top: 11px; /* center */
}

.threadlistingrow .startedby {
    overflow: hidden;
    white-space: nowrap;
}

.threadlistingrow, 
.threadlisting-placeholder {
    text-decoration: none;
    height: 40px;
}

.threadlistingrow .topic, 
.threadlisting .header-topic {
    left: 0;
    right: 356px;
}

.threadlistingrow .startedby,
.threadlisting .header-startedby {
    right: 190px;
    width: 150px;
}

.threadlistingrow .postcount,
.threadlisting .header-posts {
    width: 50px;
    padding-right: 10px;
    text-align: right;
    right: 140px;
}
.threadlistingrow .latestpost,
.threadlisting .header-latestpost {
    width: 140px;
    right: 0;
}

.threadlistingrow .latestpost {
    padding-top: 3px;
}

.threadlistingrow .latesttime {
    height: 1.3em;
    overflow: hidden;
    position: relative;
}

.threadlistingrow .latesttime .stamp,
.threadlistingrow .latesttime .pretty {
    position: absolute;
    white-space: nowrap;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.threadlistingrow .latestpost .stamp { top: 1.5em; }
.threadlistingrow .latestpost:hover .stamp { top: 0em; }
.threadlistingrow .latestpost .pretty { top: 0em; }
.threadlistingrow .latestpost:hover .pretty { top: -1.5em; }

.threadlistingrow .latestauthor {
    font-size: smaller;
}
