.v-thread-listing-row-popup {
    color: #222;
    font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
    font-size: 12px;
    line-height: normal;
    background-color: white;
    border: 1px solid black;
}