@import "variables.scss";

.post {
    width: 100%;
    margin-top: 50px;
    display: table;
    border-bottom: 1px solid $grid-border-color;
    table-layout: fixed;
    
    &.banned-author {
        /* These two first rules are for IE */
        zoom: 1;
        filter: alpha(opacity=50);
        
        opacity: 0.5;
    }
    
    .author {
        width: 153px;
        min-width: 153px;
        padding: 5px 5px 5px 0;
        vertical-align: top;
        float: left;
        
        .avatar {
            margin-bottom: 0.5em;
            width: 90px;
            margin-right: 63px;
        }
    
        .authorname {
            font-weight: bold;
        }
        
        .postedtime {
            position: relative;
            height: 1.2em;
            overflow: hidden;
            
            .prettytime { top: 0; }
            .timestamp { top: 1.5em; }
            
            span {
                white-space: nowrap;
                color: #A09F91;
                font-size: 13px;
                position: absolute;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
        }
        
        &:hover .postedtime .prettytime { top: -1.5em; }
        &:hover .postedtime .timestamp { top: 0; }    
    }
    
    .body {
        padding: 5px;
        margin-left: 153px;
        
        .attachments {
            border-top: 1px solid $grid-border-color;
            margin-top: 50px;
            margin-bottom: 20px;
            float: left;
            padding-left: 105px;
            position: relative;
            padding-top: 5px;
            width: 100%;
        
            &:before {
                font-weight: bold;
                content: "Attachments";
                position: absolute;
                left: 0;
            }
            
            a {
                float: left;
                clear: both;
            }
        }
        
        
        

        
        .quote-title {
            font-weight: bold;
            padding: 5px 0 5px 0;
        }
        
        .quote {
            background: white url(images/quoteleft.png) left top no-repeat;
            border: 1px solid #777;
            padding: 5px 0 0 5px;
        }
        
        .quote-content {
            background: transparent url(images/quoteright.png) right bottom no-repeat;
            padding: 5px 30px 10px 30px;
        }
    }
    
    .footer {
        float: left;
        width: 100%;
        clear: both;
    }
    
    .toolbar {
        background: $header-background-color;
        border: $grid-border;
        border-bottom: none;
        padding: 7px 0;
        margin-left: 153px;
        height: 18px;
        min-width: 370px;
    }
    
    .permalink {
        font-size: 12px;
        float: left;
        padding-top: 10px;
    }
    
    .scorecomponent {
        white-space: nowrap;
        font-size: 13px;
        font-weight: bold;
        margin-left: 15px;
        position: relative;
        top: 1px;
        float: left;
        
        .vote {
            margin-right: 11px;
            padding: 0;
            border: none;
            height: 16px;
            width: 10px;
            float: left;
            background: url(images/sprite-votearrows.png) top left no-repeat;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            cursor: pointer;
            outline: none;
        }
        
        .upvote { background-position: 0px 0px; }
        .done.upvote { background-position: 0px -16px; }
        .downvote { background-position: -13px 0px; }
        .done.downvote { background-position: -13px -16px; }
        
        .positive { color: #1B699F; }
        .negative { color: #EE7C08; }
        .zero { visibility: hidden; }
    }
    
    .actions {
        padding-right: 16px;
        float: right;
        font-size: 14px;
        
        & > div {
            cursor: pointer;
            padding: 0 5px;
            outline: none;
            display: inline-block;
            vertical-align: middle;
            
            * {
                position: absolute;
                visibility: hidden;
            }
        }
        
        .report {
            padding-right: 25px;
        }
        
        .quote:HOVER,
        div:HOVER:BEFORE,
        div:HOVER:AFTER {
            color: $link-color;
        }
        
        .edit:AFTER {
            vertical-align: middle;
            line-height: inherit;
            font-weight: normal;
            font-size: 12px;
            text-shadow: none;
        }
        
        .settings:before,
        .edit:before,
        .report:before,
        .quote:before {
            font-family: "Tori-Icons";
            font-size: 14px;
            padding-right: 2px;
            vertical-align: middle;
        }
        
        .settings:before { content: "\e005"; }
        .edit:before { content: "\e00e"; }
        .edit:after { content: "Edit Post"; }
        .report:before { content: "\e014"; }
        .quote:before { content: "\e007"; }
    }
    
    &.summary {
        padding: 0;
        margin-top: 0;
        border: none;
        
        table.container {
            margin: 0;    
        }
        
        .permalink,
        .postedtime,
        .score,
        .toolbar {
            display: none;
        }
        
        .author {
            width: 151px;
            min-width: 151px;
            padding: 11px 0 0 5px;
            
            .avatar {
                width: 23px;
                float: left;
                height: auto !important;
                margin-right: 0;
            }

            .authorname {
                margin-left: 10px;
                width: 100px;
                float: left;
                white-space: normal;    
            }
        }
        
        .body {
            padding: 9px 4px;
        }
    }
}    

.threadview .spacer {
    margin-bottom: 105px;
    margin-top: 50px;
    
    .eof {
        display: none;
    }
}



.v-floatingbar {
    background: $header-background-color;

    &.threadSummaryBar {
        top: -999px;
        font-size: 15px;
        
        .post .body {
            max-height: 200px;
            overflow-y: auto;
        }
    
        .threadSummary {
            overflow: hidden;
            
            .topRow {
                cursor: pointer;
                display: inline-block;
                color: white;
                white-space: nowrap;
                padding: 0 8px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                
                .v-label {
                    cursor: pointer;
                    white-space: nowrap;
                    line-height: 1.5;
                }
                
                .topiclabel {
                    float: left;
                }
            }
            
            .summary {
                background: #fff;
                border-top: 1px solid $grid-border-color;
                font-size: 14px;
            }
        }
    }
    
    &.quickReply{
        bottom: -99px;
        
        .v-ios & {
            display: none;
        }
        
        .authoring {
            position: relative;
            padding: 0 9px 9px 0;
            background: #fff;
            border-bottom: 1px solid $grid-border-color;
            
            .previewcaption {
                color: #fff;
                font-size: 13px;
                font-weight: bold;
                float: left;
                margin-left: 9px;
            }
        }
        
        .showorhidelayout {
            padding: 0 9px;
        
            .show-or-hide {
                line-height: 1.5;
            }
        }
        
        
    }
    
    .show-or-hide {
        float: right;
        padding-left: 16px;
        position: relative;
        vertical-align: middle;
        
        &:BEFORE {
            content: "";
            width: 0;
            height: 0;
            border: 5px solid transparent;
            position: absolute;
            left: 0;
            top: 3px;
            border-bottom-color: #555;
        }
        
        &.collapsed:BEFORE {
            top: 9px;
            border-bottom-color: transparent;
            border-top-color: #555;
        }
    }
    
    &.alignment-bottom {
        .show-or-hide:BEFORE {
            top: 9px;
            border-bottom-color: transparent;
            border-top-color: #555;
        }
    
        .collapsed .show-or-hide:BEFORE {
            top: 3px;
            border-bottom-color: #555;
            border-top-color: transparent;
        }
    }
     
}

.authoring {
    & > .v-verticallayout {
        padding-left: 150px;
    }
    
    .filerow {
        .v-textfield.v-widget{
            padding-left: 20px;
            background: url(images/icon-attachment.png) no-repeat left center;
        }
        
        .deleteattachment {
                background: url(images/icon-delete-attachment.png) no-repeat right center;
            cursor: pointer;
        }
    }
}



.newthread {
     .topiclabel.v-widget {
        font-size: 16px;
        width: 144px !important;
        padding-left: 24px;
    }
    
    .topicfield {
        font-size: 16px;
        line-height: 20px;
        height: 30px;
        border: 2px solid #ccc;
        border-radius: 4px;
        text-indent: 0.5em;
        font-weight: bold;
    }
}

.v-caption-wysiwyg-editor {
    padding-bottom: 5px;
    padding-top: 10px;
}



