/* Styles for the CategoryListing component. */

.v-link-categoryLink {
	font-size: 110%;
	font-weight: bold;
	display: block;
}

.categoryTree .v-table-body {
	border: 3px solid #deddd3;
}
.categoryTree.normal .v-table-body {
	border-top: none;	
}

.categoryTree .v-table-body,
.categoryTree .v-table-row td {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.categoryTree.normal .v-table-body,
.categoryTree.normal .v-table-row td {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
.categoryTree.normal .v-table-header-wrap {
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.categoryTree .v-table-row td,
.categoryTree .v-table-row-odd td {
	padding: 8px 15px 8px 8px;
	border: none;	
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
.categoryTree.normal .v-table-header-wrap {
	width: 100% !important;
	background: #b4b3a3;
}
.categoryTree.normal .v-table-header-wrap,
.categoryTree.normal .v-table-header-wrap table {
	height: 24px !important;	
}
.categoryTree.normal .v-table-header-wrap table td {
	vertical-align: bottom;	
}
.categoryTree.normal .v-table-caption-container {
	padding: 1px 0 0 0;
	color: #fff;
	text-transform: none;
	text-shadow: none;
	font-size: 12px;	
	font-weight: bold;
}
.categoryTree.normal .v-table-header-wrap table td:first-child .v-table-caption-container {
	padding-left: 22px;
}
.categoryTree.normal .v-table-header-wrap table td:last-child .v-table-caption-container {
	padding-right: 22px;
}
.categoryTree .v-table-row-odd {
	background: #f4f4f0;
}
.categoryTree .v-table-row td:first-child,
.categoryTree .v-table-row-odd td:first-child {
	background: url(../images/icon-rearranging.png) transparent 10px -10px no-repeat;
}
.categoryTree.rearranging .v-table-row td:first-child,
.categoryTree.rearranging .v-table-row-odd td:first-child {
	background-position: 10px 31px;
}

.categoryTree.rearranging .v-table-row-odd * {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.categoryTree .v-table-row:last-child td,
.categoryTree .v-table-row-odd:last-child td {
	border-bottom: 0;
}

.categoryTree .v-treetable-treespacer {
	float: left;
	height: 13px;
}

.categoryTree .v-table-header-wrap {
	background: transparent;
	border: none;
}

.categoryTree .v-table-resizer {
	display: none;
}

.v-csslayout.category {
	position: relative;
}

.v-csslayout.category .contextmenu {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
}

.v-csslayout.category:hover .contextmenu {
	visibility: visible;	
}

.v-csslayout.category .v-label-threadCount {
	float: right;
	margin-right: 20px;
	text-align: right;	
}
