.thread-listing .topic .modifiers,
.thread-listing .topic .link,
.thread-listing-row .started-by,
.thread-listing-row .posts,
.thread-listing-row .latest-post,
.thread-listing .column-header {
	float: left;
}
.thread-listing .column-header.topic {
	margin-left: 25px;
}
.thread-listing-row {
	position: relative;
	padding: 2px 0;
}
.thread-listing-row .unread a span {
	color: #0094d0 !important;
	font-weight: bold;	
}
.thread-listing-row .topic {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 350px;
	bottom: 0;
}
.thread-listing-row .topic.unread {
	font-weight: bold;
	background-color: #eceac4;
}

.thread-listing-row .details,
.thread-listing .fixed-column-headers {
	float: right;
}
.thread-listing .column-header-row {
	background: #b4b3a3;
	color: #fff;
	font-size: 12px;	
	font-weight: bold;	
}
.thread-listing .topic .modifiers {
	width: 8px !important;
	height: 16px !important;
	margin: 0 4px 0 12px;
}
.thread-listing .topic .contextmenu {
	width: 16px;
	margin-right: 16px;
	float: right;
}
.thread-listing .started-by,
.thread-listing .latest-post,
.thread-listing .fixed-column-headers .started-by, 
.thread-listing .fixed-column-headers .latest-post {
	width: 140px;
}
.thread-listing .started-by {	
	overflow: hidden;
	margin-right: 10px;
}
.thread-listing .posts {
	width: 50px;
}

.thread-listing-row .contextmenu {
	visibility: hidden;	
}
.thread-listing-row:hover .contextmenu {
	visibility: visible;	
}

.thread-listing,
.thread-listing-row,
.thread-listing .v-lazylayout-placeholder {
	border-color: #dfdfdf;
	border-style: solid;
}
.thread-listing-row,
.thread-listing .v-lazylayout-placeholder {
	width: 100%;
	border-width: 0 0 1px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.thread-listing {
	border-width: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.thread-listing .following {
	background: url(../images/following-badge.png) #fff top left no-repeat;
}
.thread-listing .v-lazylayout-placeholder {
	background: url("../images/loadingthread-bg.png") left center no-repeat transparent;
}

.thread-listing-row a {
	display: block;
	color: #464440;
}

.thread-listing-row a > div {
	display: block;
	position: absolute;
	color: #464440;
}

.thread-listing-row div.locked,
.thread-listing-row div.sticky {
	height: 8px;
	width: 8px;
	margin:0;
	padding:0;
	top: 15px; /* center */
}

.thread-listing-row .locked {
	background-image: url("../images/icon-small-locked.png");
	left: 4px;
}
.thread-listing-row .sticky {
	background-image: url("../images/icon-small-sticky.png");
	left: 14px;
}

.thread-listing-row .topic {
	padding-left: 25px;
	width: 100%;
	height: 100%;
	color: #00B4F0;
}

.thread-listing-row .topic,
.thread-listing-row .startedBy,
.thread-listing-row .postcount {
	padding-top: 11px; /* center */
}

.thread-listing-row:hover .topic {
	text-decoration: underline;
}

.thread-listing .thread-listing-row {
	text-decoration: none;
	height: 40px;
}

.thread-listing-row .startedBy {
	right: 190px;
	width: 150px;
}

.thread-listing-row .postcount {
	width: 50px;
	padding-right: 10px;
	text-align: right;
	right: 140px;
}
.thread-listing-row .latestpost {
	width: 140px;
	right: 0;
	padding-top: 3px;
}

.thread-listing-row .latestauthor {
	font-size: smaller;
}

.thread-listing-row .menutrigger {
	height: 16px;
	width: 16px;
	background-image: url("../images/icon-settings.png");
	visibility: hidden;
	position: absolute;
	right: 350px;
}

.thread-listing-row:hover .menutrigger,
.thread-listing-row.open .menutrigger {
	visibility: visible;
}
