.threadlisting {
	width: 100%;
}

.threadlisting .header {
	background-color: #b4b3a3;
	color: white;
	font-size: smaller;
	position: relative;
	height: 20px;
}

.threadlisting .header-topic, 
.threadlisting .header-startedby, 
.threadlisting .header-posts, 
.threadlisting .header-latestpost {
	position: absolute;
	top: 3px;
}

.threadlisting .header-topic {
    padding-left: 25px;
}

.threadlistingrow {
	display: block;
	position: relative;
}

.threadlistingrow,
.threadlisting-placeholder {
	border-bottom: 1px solid #dfdfdf;
}

.threadlisting-placeholder {
	background: url("../images/loadingthread-bg.png") left center no-repeat transparent;
}


.threadlisting .topic .contextmenu {
	width: 16px;
	margin-right: 16px;
	float: right;
}
.threadlisting .startedby,
.threadlisting .latestpost,
.threadlisting .fixed-column-headers .startedby, 
.threadlisting .fixed-column-headers .latestpost {
	width: 140px;
}
.threadlisting .startedby {	
	overflow: hidden;
	margin-right: 10px;
}
.threadlisting .posts {
	width: 50px;
}

.threadlisting,
.vthreadlistingrow,
.threadlisting .lazylayout-placeholder {
	border-color: #dfdfdf;
	border-style: solid;
}
.threadlistingrow,
.threadlisting-placeholder {
	width: 100%;
	border-width: 0 0 1px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.threadlisting {
	border-width: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.threadlistingrow > div {
	display: block;
	position: absolute;
	color: #464440;
	white-space: nowrap;
	overflow: hidden;
}

.threadlistingrow.unread > div.topic {
	color: #0A85B4 !important;
	font-weight: bold;	
}

.threadlistingrow div.locked,
.threadlistingrow div.sticky {
	height: 8px;
	width: 8px;
	margin:0;
	padding:0;
	top: 15px; /* center */
}

.threadlistingrow .locked {
	background-image: url("../images/icon-small-locked.png");
	left: 4px;
}
.threadlistingrow .sticky {
	background-image: url("../images/icon-small-sticky.png");
	left: 14px;
}

.threadlistingrow .topic {
	padding-left: 25px;
	height: 100%;
	color: #00B4F0;
}

.threadlistingrow .topic,
.threadlistingrow .startedby,
.threadlistingrow .postcount {
	padding-top: 11px; /* center */
}

.threadlistingrow .startedby {
	overflow: hidden;
	white-space: nowrap;
}

.threadlistingrow .fd {
	height: 39px;
	width: 15px;
	background-image: url("../images/thread_fade.png");
}

.threadlistingrow .a.fd { right: 356px; }
.threadlistingrow .b.fd { right: 200px; }
.threadlistingrow .c.fd { right: 0px; }

.threadlistingrow:hover .topic {
	text-decoration: underline;
}

.threadlistingrow, 
.threadlisting-placeholder {
	text-decoration: none;
	height: 40px;
}

.threadlistingrow .topic, 
.threadlisting .header-topic {
	left: 0;
	right: 356px;
}

.threadlistingrow .startedby,
.threadlisting .header-startedby {
	right: 190px;
	width: 150px;
}

.threadlistingrow .postcount,
.threadlisting .header-posts {
	width: 50px;
	padding-right: 10px;
	text-align: right;
	right: 140px;
}
.threadlistingrow .latestpost,
.threadlisting .header-latestpost {
	width: 140px;
	right: 0;
}

.threadlistingrow .latestpost {
	padding-top: 3px;
}

.threadlistingrow .latesttime {
	height: 1.3em;
	overflow: hidden;
	position: relative;
}

.threadlistingrow .latesttime .stamp,
.threadlistingrow .latesttime .pretty {
	position: absolute;
	white-space: nowrap;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.threadlistingrow .latestpost .stamp { top: 1.5em; }
.threadlistingrow .latestpost:hover .stamp { top: 0em; }
.threadlistingrow .latestpost .pretty { top: 0em; }
.threadlistingrow .latestpost:hover .pretty { top: -1.5em; }

.threadlistingrow .latestauthor {
	font-size: smaller;
}



/******/

.thread-listing .topic .modifiers,
.thread-listing .topic .link,
.v-thread-listing-row .started-by,
.v-thread-listing-row .posts,
.v-thread-listing-row .latest-post,
.thread-listing .column-header {
	float: left;
}
.thread-listing .column-header.topic {
	margin-left: 25px;
}
.v-thread-listing-row {
	position: relative;
	padding: 2px 0;
}

.thread-listing .fixed-column-headers {
	float: right;
}
.thread-listing .column-header-row {
	background: #b4b3a3;
	color: #fff;
	font-size: 12px;	
	font-weight: bold;	
}
.thread-listing .topic .modifiers {
	width: 8px !important;
	height: 16px !important;
	margin: 0 4px 0 12px;
}
.thread-listing .topic .contextmenu {
	width: 16px;
	margin-right: 16px;
	float: right;
}
.thread-listing .started-by,
.thread-listing .latest-post,
.thread-listing .fixed-column-headers .started-by, 
.thread-listing .fixed-column-headers .latest-post {
	width: 140px;
}
.thread-listing .started-by {	
	overflow: hidden;
	margin-right: 10px;
}
.thread-listing .posts {
	width: 50px;
}

.v-thread-listing-row .contextmenu {
	visibility: hidden;	
}
.v-thread-listing-row:hover .contextmenu {
	visibility: visible;	
}

.thread-listing,
.v-thread-listing-row,
.thread-listing .v-lazylayout-placeholder {
	border-color: #dfdfdf;
	border-style: solid;
}
.v-thread-listing-row,
.thread-listing .v-lazylayout-placeholder {
	width: 100%;
	border-width: 0 0 1px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.thread-listing {
	border-width: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.thread-listing .following {
	background: url(../images/following-badge.png) #fff top left no-repeat;
}

.v-thread-listing-row a > div {
	display: block;
	position: absolute;
	color: #464440;
	white-space: nowrap;
	overflow: hidden;
}

.v-thread-listing-row.unread a > div.topic {
	color: #0A85B4 !important;
	font-weight: bold;	
}

.v-thread-listing-row div.locked,
.v-thread-listing-row div.sticky {
	height: 8px;
	width: 8px;
	margin:0;
	padding:0;
	top: 15px; /* center */
}

.v-thread-listing-row .locked {
	background-image: url("../images/icon-small-locked.png");
	left: 4px;
}
.v-thread-listing-row .sticky {
	background-image: url("../images/icon-small-sticky.png");
	left: 14px;
}

.v-thread-listing-row .topic {
	padding-left: 25px;
	width: 100%;
	height: 100%;
	color: #00B4F0;
}

.v-thread-listing-row .topic,
.v-thread-listing-row .startedBy,
.v-thread-listing-row .postcount {
	padding-top: 11px; /* center */
}

.v-thread-listing-row .startedBy {
	overflow: hidden;
	white-space: nowrap;
}

.v-thread-listing-row .fd {
	height: 39px;
	width: 15px;
	background-image: url("../images/thread_fade.png");
	margin-top: -2px;
}

.v-thread-listing-row .fd.a { right: 340px; }
.v-thread-listing-row .fd.b { right: 190px; }
.v-thread-listing-row .fd.c { right: 0px; }
}

.v-thread-listing-row:hover .topic {
	text-decoration: underline;
}

.thread-listing .v-thread-listing-row {
	text-decoration: none;
	height: 40px;
}

.v-thread-lsiting-row .topic {
	left: 0;
	right: 356px;
}

.v-thread-listing-row .startedBy {
	right: 190px;
	width: 150px;
}

.v-thread-listing-row .postcount {
	width: 50px;
	padding-right: 10px;
	text-align: right;
	right: 140px;
}
.v-thread-listing-row .latestpost {
	width: 140px;
	right: 0;
	padding-top: 3px;
}

.v-thread-listing-row .latesttime {
	height: 1.3em;
	overflow: hidden;
	position: relative;
}

.v-thread-listing-row .latesttime .stamp,
.v-thread-listing-row .latesttime .pretty {
	position: absolute;
	white-space: nowrap;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.v-thread-listing-row .latestpost .stamp { top: 1.5em; }
.v-thread-listing-row .latestpost:hover .stamp { top: 0em; }
.v-thread-listing-row .latestpost .pretty { top: 0em; }
.v-thread-listing-row .latestpost:hover .pretty { top: -1.5em; }

.v-thread-listing-row .latestauthor {
	font-size: smaller;
}

.v-thread-listing-row .menutrigger {
	height: 16px;
	width: 16px;
	background-image: url("../images/icon-settings.png");
	visibility: hidden;
	position: absolute;
	right: 350px;
	top: 0;
}

.v-thread-listing-row:hover .menutrigger,
.v-thread-listing-row.open .menutrigger {
	visibility: visible;
}
