@mixin authoring {

	.authoring {
		transition: opacity 1000ms;
		-webkit-transition: opacity 1000ms;
	
		.avatar {
			opacity: 1;
			visibility: visible;
		}
		
		.permalink {
			visibility: hidden;
		}
		
		.bodytext,
		.footer {
			display: none;
		}
		
		.v-upload .v-button {
			color: $secondary-button-color;
        	border: $secondary-button-border;
        	font-size: $button-font-size;
		}
		
		&.replyhidden {
			transition: opacity 0ms;
			-webkit-transition: opacity 0ms;
			opacity: 0;
		}
		
		.v-checkbox{
			font-size: 13px;
			
			input {
				margin-right: 5px;
			}
		}
		
		.badge {
			visibility: visible;
			opacity: 1;
		}
		
		.buttonslayout.v-horizontallayout {
			padding: 8px 11px 6px 0;
			
			.v-button {
				min-width: 126px;
			}
		}
		
		.posteditorplaceholder {
			position: relative;
			top: -1px;
		}
		
		
		
		.wysiwyg-editor {
			.cke_inner {
				background: transparent;
			}
			
			.cke_top {
				filter: none;
				background: transparent;
				border: none;
				padding-left: 0;
				@include box-shadow(none);
			}
			
			& > .cke {
				border: none;
			}
		}
		
		&.authoringcomponent {
			.cke_inner {
				min-height: 244px;
			}
			
			.cke_contents {
				min-height: 200px;
			}
		}
	}
}
