@mixin authoring {

	.authoring {
		transition: opacity 1000ms;
		-webkit-transition: opacity 1000ms;
	
		.avatar {
			opacity: 1;
			visibility: visible;
		}
		
		.permalink {
			visibility: hidden;
		}
		
		.posteditorplaceholder {
			position: relative;
			top: -1px;
		}
		
		.bodytext,
		.footer {
			display: none;
		}
		
		.cke_inner {
			min-height: 244px;
		}
		
		.v-upload .v-button {
			color: $secondary-button-color;
        	border: $secondary-button-border;
        	font-size: $button-font-size;
		}
		
		&.replyhidden {
			transition: opacity 0ms;
			-webkit-transition: opacity 0ms;
			opacity: 0;
		}
		
		.cke_contents {
			min-height: 173px;
		}
	}
	
	.newthreadview .newthread {
		padding-left: 153px;
	}
}
