@mixin breadcrumbs {
	.tori-breadcrumbs {
	    margin-top: 30px;
	    
	    .breadcrumbs-layout {
	    	margin-bottom: 8px;
	    	
	    	.dropdown .v-menubar-menuitem {
				font-size: 16px;
		    }
		    
		    .categorylink {
		    	padding-left: 20px;
		    	
			    &:BEFORE {
			    	color: $breadcrumbs-categorylink-separator-color;
			    	content: "/";
					font-size: 25px;
					font-weight: 100;
					position: absolute;
					left: 5px;
					top: -3px;
			    }
		    }
		    
		    .v-link span {
		    	line-height: 22px;
		    }
	    }
	    
	    .v-link {
	        overflow: hidden;
	        text-overflow: ellipsis;
	        
	        span {
				font-size: 12px;
	        }
	    }
	    
	    .action-bar {
	        .v-link {
	            padding-right: 10px;
	        }
	        
	        .v-icon {
	            padding-right: 5px;
	        }
	    }
	    
	    .v-label.viewcaption {
	    	font-family: $breadcrumbs-viewcaption-font-family;
	    	letter-spacing: $breadcrumbs-viewcaption-letter-spacing;
	    	color: #222;
	        font-size: 24px;
	        text-overflow: ellipsis;
	        position: relative;
	        padding-right: 62px;
	        width: auto !important;
	        
	        &:before,
	        &:after {
	        	font-family: "Tori-Icons";
		    	font-size: 20px;
		    	line-height: 28px;
		    	position: absolute;
		    	right: 30px;
		    	top: 0;
	        }
	       
	        &.lockedthread:before {
	        	content: "\e00c";
				color: $thread-locked-icon-color;
	    	}
	    	&.stickythread:before {
	        	content: "\e004";
				color: $thread-sticky-icon-color;
	        }
	    	
	        &.stickythread.lockedthread:after {
	        	content: "\e00c";
				color: $thread-locked-icon-color;
				right: 5px;
			}
	    }
	    
	    .v-button {
	    	width: 110px;
	    	padding: 5px 0 !important;
	    	transition: all 400ms;
			-webkit-transition: all 400ms;
	    
	    	&:before {
	    		font-family: "Tori-Icons";
	    		
	    		vertical-align: middle;
	    		padding-right: 5px;
	    	}
	    	
	    	&:after {
	    		font-size: 13px; 
	    		vertical-align: middle;
	    	}
	    	
	    	&.followed {
	    		color: #fff;
	    		background: $button-color;
	    		border-color: $button-color;
	    	
	    		&:before {
	    			content: "\e605";
	    		}
	    		
	    		&:after {
	    			content: "Following";
	    		}
	    		
	    		&:hover {
	    			background: #F06032;
	    			border-color: #F06032;
	    		
		    		&:after{
		    			content: "Unfollow";
		    		}
	    		}
	    	}
	    	
	    	&.notfollowed {
	    		&:before {
	    			font-size: 16px;
	    			content: "\e609";
	    			position: relative;
					top: 1px;
	    		}
	    	
	    		&:after {
	    			content: "Follow";
	    		}
	    	}
	    }
	}
}
