@import "variables.scss";

.breadcrumbs {
    margin-top: 30px;
    
    .dropdown .v-menubar-menuitem {
    	margin-top: 7px;
		margin-left: 4px;
		font-size: 16px;
    }
    
    .categorylink {
    	padding-left: 20px;
    
	    &:BEFORE {
	    	color: #ccc;
	    	content: "/";
	    	position: absolute;
			font-size: 27px;
			font-weight: 100;
			left: 5px;
			top: 2px;
	    }
    }
    
    .breadcrumbs-layout {
    	height: 32px;
    }
    
    .breadcrumbs-wrapper .v-widget {
        font-size: 15px;
    }
    
    .v-link {
        overflow: hidden;
        text-overflow: ellipsis;
        
        span {
			font-size: 12px;
			line-height: 14px;
        }
    }
    
    .v-button.v-popupbutton {
        border: none;
        background: transparent;
        box-shadow: none;
    }
    
    .breadcrumbs-separator {
        background: url("images/separator-breadcrumbs.png") no-repeat right center;
    }
    
    .action-bar {
        .v-link {
            padding-right: 10px;
        }
        
        .v-icon {
            padding-right: 5px;
        }
    }
    
    .v-label.viewcaption {
    	font-family: HelveticaNeue-Light;
    	color: #222;
        font-size: 24px;
    }
    
    .v-label.icons {
    	font-family: "Tori-Icons";
    	font-size: 24px;
    	line-height: normal;
    	vertical-align: middle;
    	margin-left: 12px;
    	
    	&.stickythread:before {
			content: "\e00a";
			color: #50D497;
			margin-right: 5px;
		}
		
    	&.lockedthread:after {
    		content: "\e00b";
			color: #EDC628;
    	}
    }
    
    .mypostslink:before {
    	font-family: "Tori-Icons";
    	content: "\e007";
    	color: $link-color;
    	vertical-align: middle;
    }
    
    .v-button {
    	width: 130px;
    	height: 27px;
    	padding: 2px 0 !important;
    	transition: all 400ms;
		-webkit-transition: all 400ms;
    
    	&:before {
    		font-family: "Tori-Icons";
    		content: "\e00c";
    		vertical-align: middle;
    		padding-right: 5px;
    	}
    	
    	&:after {
    		font-size: 13px; 
    		vertical-align: middle;
    	}
    	
    	&.followed {
    		color: #fff;
    		background: $button-color;
    		border-color: $button-color;
    	
    		&:after {
    			content: "Following Topic";
    		}
    		
    		&:hover {
    			background: #E6452A;
    			border-color: #E6452A;
    		
	    		&:after{
	    			content: "Unfollow";
	    		}
    		}
    	}
    	
    	&.notfollowed {
    		&:after {
    			content: "Not following";
    		}
    		
    		&:hover{
    			background: #43B536;
    			border-color: #43B536;
    			color: #fff;
    			
    			&:after {
    				content: "Follow";
    			}
    		}
    	}
    }
    
}

.v-popupbutton-popup-categorypopup .v-tree-node-caption > div{
    overflow: hidden;
    text-overflow: ellipsis;
}