@mixin categorytree {

	.categoryTree.v-treetable{
	    margin-bottom: 20px;
	    
	
	    .v-widget {
	        font-size: 15px;
	    }
	
	    .category {
	        line-height: 1.3;
	    
	        .categoryLink,
	        .categoryLink span {
	            display: block;
	            font-family: $font-family-secondary;
	            font-size: 18px;
	        }
	        
	        .settingsmenu {
	        	position: absolute;
	            top: 1px;
	            right: 0;
	        }
	    
	    	.description {
				font-family: $font-family-secondary;
				color: #474747;
	    	}
	    	
	    	.v-popupbutton {
	    		visibility: hidden;
	    	}
	    }
	    
	    .v-table-body {
	        border: none;
	        overflow: hidden;
	        
	        .dropdown {
	        	font-size: 18px;
	        }
	        
	        .v-table-cell-wrapper {
	        	color: #222;
	        	font-size: 16px;
	        }
	        
	        .v-table-row:FIRST-CHILD .v-table-cell-content-unread,
	        .v-table-row:FIRST-CHILD .v-table-cell-content-threads {
	        	.v-table-cell-wrapper:before {
		        	margin-right: 10px;
		        	font-size: 11px;
		        	color: #999; 
		        	letter-spacing: 0.42px;
	        	}
	        }
	        .v-table-row:FIRST-CHILD .v-table-cell-content-unread .v-table-cell-wrapper:before{
	        	content: "UNREAD";
	        }
	        .v-table-row:FIRST-CHILD .v-table-cell-content-threads .v-table-cell-wrapper:before{
	        	content: "TOPICS";
	        }
	    
	  		.settingsmenu .v-menubar-menuitem {
	        	visibility: hidden;
	        }
	                
	        .v-table-row,
	        .v-table-row-odd {
	            font-size: 15px;
	            height: 65px;
	            
	            .v-table-cell-content {
	                padding: 10px;
	                border-right: none;
	                font-family: $font-family-secondary;
	            }
	            
	           	.v-table-cell-content {
	                border-top: 1px solid #F2F2F2;
	            }
	            
	            &:first-child .v-table-cell-content {
	            	border-top: none;
	            }
	            
	            &:hover {
	                .settingsmenu .v-menubar-menuitem {
	                	visibility: visible;
	                }
	            }
	        }
	        
	        .v-treetable-treespacer {
	            top: 4px;
	            left: -2px;
	        }
	        
	        .threadCount {
	            float: right;
	        }
	    }
	    
	    &.v-table-rearranging {
	        .v-table-row,
	        .v-table-row-odd {
	            td:first-child {
	                background: url(images/icon-rearranging.png) transparent 10px 25px no-repeat;;
	            }
	        }
	    }
	}
}
