@import "variables.scss";

.categoryview.v-customcomponent {
	overflow: visible;
}

.categoryTree.v-treetable {
    margin-bottom: 20px;
    

    .v-widget {
        font-size: 15px;
    }

    .category {
        line-height: 1.3;
    
        .categoryLink,
        .categoryLink span {
            display: block;
            font-family: HelveticaNeue-Light;
            font-size: 18px;
        }
        
        .settingsmenu {
        	position: absolute;
            top: 10px;
            right: 0;
        }
    
    	.description {
			font-family: HelveticaNeue-Light;
			color: #474747;
    	}
    }
    
    .v-table-header-wrap {
        background: $header-background-color;
        height: auto;
        border-color: $grid-border-color;
        
        .v-table-caption-container {
            font-size: 15px;
            font-weight: normal;
            padding-top: 9px;
            padding-right: 10px;
        }
        
        .v-table-header-cell:first-child .v-table-caption-container {
            text-indent: 18px;
        }
        
        .v-table-resizer {
            height: 36px;
            background: $grid-border-color;
        }
    }
    
    .v-table-body {
        border: none;
        
        .v-table-cell-wrapper {
        	color: #222;
        	font-size: 16px;
        }
        
        .v-table-row:FIRST-CHILD .v-table-cell-content:nth-child(2) .v-table-cell-wrapper:before{
        	content: "UNREAD";
        	margin-right: 10px;
        	font-size: 12px;
        	color: #555; 
        }
        
        .v-table-row:FIRST-CHILD .v-table-cell-content:nth-child(3) .v-table-cell-wrapper:before{
        	content: "TOPICS";
        	margin-right: 10px;
        	font-size: 12px;
        	color: #555; 
        }
    
  		.settingsmenu {
        	visibility: hidden;
        }
                
        .v-table-row,
        .v-table-row-odd {
            font-size: 15px;
            height: 57px;
            
            .v-table-cell-content {
                padding: 10px;
                border-right: none;
                font-family: HelveticaNeue-Light;
            }
            
            &:nth-child(n+2) .v-table-cell-content {
                border-top: 1px solid #F2F2F2;
            }
            
            &:hover {
                .settingsmenu {
                	visibility: visible;
                }
            }
        }
        
        .v-treetable-treespacer {
            top: 4px;
            left: -2px;
        }
        
        .threadCount {
            float: right;
        }
    }
    
    &.v-table-rearranging {
        .v-table-row,
        .v-table-row-odd {
            td:first-child {
                background: url(images/icon-rearranging.png) transparent 10px 25px no-repeat;;
            }
        }
    }
}
