@mixin post {
	.post {
	    width: 100%;
	    /*display: table;
	    table-layout: fixed;*/
	    position: relative;
	    
	    .dropdown {
	    	font-size: 20px;
	    }
	    
	    &.banned-author {
	        zoom: 1;
	        filter: alpha(opacity=50);
	        opacity: 0.5;
	    }
	    
	    .author {
	        width: 153px;
	        min-width: 153px;
	        float: left;
	        text-align: center;
	        margin-top: 45px;
	    }
        .avatar {
        	color: $post-anonymous-avatar-color;
            margin-bottom: 9px;
            display: block;
            width: 62px;
            height: 62px;
            background-size: 62px auto;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: $post-avatar-border;
            overflow: hidden;
            display: inline-block;
            background-color: $post-anonymous-avatar-background-color;
            -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
			-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
            
            &.anonymous:before {
            	font-family: "Tori-Icons";
            	content: "\e001";
            	font-size: 88px;
            }
        }
    
        .authorname {
        	display: block;
	        font-size: 15px;
	        font-family: HelveticaNeue-Light;
			line-height: 22px;
			margin-bottom: 10px;
			overflow: hidden;
        	text-overflow: ellipsis;
			
			&.nolink {
				color: #555;
				
				&:HOVER{
					text-decoration: none;
				}
			}
        }
        
        .prettytime {
        	font-family: HelveticaNeue-Light;
			font-size: 13px;
			color: #888;
			line-height: 22px;
			height: 22px;
        }
        
        .permalink {
			font-size: 11px;
			color: $post-permalink-color;
			line-height: 12px;
	    }
	    
	    &.editing {
	        .posteditorplaceholder {
	        	visibility: visible;
	        	opacity: 1;
	        }
	        
	        .bodytext {
	        	visibility: hidden;
	        }
	        
	        div.settings {
	        	opacity: 0 !important;
	        }
        }
        
	    .posteditorplaceholder {
        	position: absolute;
        	top: 0;
        	width: 100%;
        	height: 100%;
        	visibility: hidden;
        	opacity: 0;
        	transition: all 500ms;
			-webkit-transition: all 500ms;
        }
        
	    .body {
	        padding-top: 1px;
	        margin-left: 153px;
	        position: relative;
	        border-bottom: $post-separator-border;
	    }
	    
        .settings {
	    	position: absolute;
			right: 17px;
			top: 11px;
	    }
	    
        .posteditor {
    		background-color: #fff;
    		
    		.wysiwyg-editor > div {
    			border: none;
    		}
    		
    		.cke_top {
    			border: 1px solid #b6b6b6;
    		}
    		
    		.buttonslayout {
    			background-color: #F7F7F7;
    			padding: 8px 11px 7px;
    		}
        }
        	
        .bodytext {
        	margin-top: 50px;
			line-height: 22px;
			padding: 0 8px;
			position: relative;
			transition: visibility 500ms;
			-webkit-transition: visibility 500ms;
        }
        
        .attachments {
            border-top: 1px solid $post-separator-border;
            margin-top: 50px;
            margin-bottom: 20px;
            float: left;
            padding-left: 105px;
            position: relative;
            padding-top: 5px;
            width: 100%;
        
            &:before {
                font-weight: bold;
                content: "Attachments";
                position: absolute;
                left: 0;
            }
            
            a {
                float: left;
                clear: both;
            }
        }
        
        .vote {
            margin-right: 10px;
            cursor: pointer;
            outline: none;
            color: #ccc;
            
            &:after {
            	font-family: "Tori-Icons";
            }
            
            &.upvote {
            	&:after {
	            	content: "\e003";
	            }
            	&:hover {
            		color: #43B536;
            	}
            }
            
            &.downvote {
            	&:after {
	            	content: "\e004";
	            }
            	&:hover {
            		color: #E6452A;
            	}
            }
        }
        
        .zero {
        	float: left;
        	visibility: hidden;
        }
        .negative {
        	float: left;
        	color: #E6452A;
        }
        .positive {
        	float: left;	
        	color: #43B536;
        }
        
        .quote-title {
            font-weight: bold;
            padding: 5px 0 5px 0;
        }
        
        .quote {
            background: white url(images/quoteleft.png) left top no-repeat;
            border: 1px solid #777;
            padding: 5px 0 0 5px;
        }
        
        .quote-content {
            background: transparent url(images/quoteright.png) right bottom no-repeat;
            padding: 5px 30px 10px 30px;
        }
        
        .footer {
	        width: 100%;
	        margin-top: 50px;
	        padding: 17px 10px 6px;
			box-sizing: border-box;
			display: inline-block;
			font-size: 13px;
    		font-family: HelveticaNeue-Light;
    		color: #888;
	    }
	    
	    .vote, .score {
	    	float: left;
	    }
	    
	    .quoteforreply, .flagpost {
	    	float: right;
	    	cursor: pointer;
	    	margin-left: 30px;
	    }
	    
	    .quoteforreply:before {
	    	font-family: "Tori-Icons";
	    	content: "\e001";
	    	padding-right: 5px;
	    	vertical-align: middle;
	    }
	    
	    .flagpost .v-button {
    		padding: 0;
    		border: none;
    		color: #888;
    		
    		&:before {
		    	font-family: "Tori-Icons";
		    	content: "\e002";
		    	padding-right: 5px;
		    	vertical-align: middle;
		    }
	    }
		    
	    .vote, .settings .v-menubar-menuitem, .badge, .postedtime, .quoteforreply, .flagpost {
	    	visibility: hidden;
	    	opacity: 0;
	    	transition: opacity 500ms, visibility 500ms;
			-webkit-transition: opacity 500ms, visibility 500ms;
	    }
	    
	    
	    
	}
	
	.ready .post {
		.vote, .badge, .postedtime, .quoteforreply, .flagpost {
	    	visibility: visible;
	    	opacity: 1;
	    }
	    
	    &:hover .settings .v-menubar-menuitem {
	    	visibility: visible;
	    	opacity: 1;
	    }
	}
}
