@mixin quotationmark {
	font-family: HelveticaNeue;
	content: "\201D";
	position: absolute;
	font-size: 58px;
	color: $postbody-quote-quotationmark-color;
	line-height: 69px;
	left: 11px;
	top: -3px;
}

@mixin postbody {

	blockquote cite,
	.quote-title {
		background-color: $postbody-quote-background-color;
		padding-left: 50px;
		font-family: $font-family-tertiary;
		color: $font-color-secondary;
		line-height: 35px;
		position: relative;
		display: block;
		font-style: normal;
		border-radius: $border-radius-primary $border-radius-primary 0 0;
		
		&:before {
			@include quotationmark;
		}
	}
	
	.quote,
	blockquote {
		position: relative;
		margin: 0;
		
		&:before {
			@include quotationmark;
		}
	}
	
	.quote-title + .quote {
		border-radius: 0 0 $border-radius-primary $border-radius-primary;
	
		&:before {
			content: "";
		}
	}
	
	
	blockquote cite {
		&:after{
			content: ":";
		}
		
		& + div {
			border-radius: 0 0 $border-radius-primary $border-radius-primary;
		}
	}

	blockquote > div,
	.quote {
		background-color: $postbody-quote-background-color;
		border-radius: $border-radius-primary;
		
		padding: 0 20px 5px 50px;
		
		.code .code-lines,
		code:before,
		.lfr-code table tr td.line-numbers {
			border-right-color: $postbody-quote-background-color;
			background: $postbody-quote-code-linenumber-background-color;
			color: $postbody-quote-code-linenumber-color;
		}
		
		.code,
		.lfr-code .lines,
		code {
			background-color: $postbody-quote-code-background-color;
			color: $postbody-quote-code-color;
		}
	}
	
	.lfr-code {
		border-radius: $border-radius-primary;
		font-family: Monaco, monospace;
		font-size: $postbody-code-font-size;
		line-height: $postbody-code-line-height;
		white-space: pre;
		background-color: transparent;
		max-height: $postbody-code-line-height * 40;
		overflow: auto;
		overflow-y: auto;
		overflow-x: hidden;
		
		
		table td.line-numbers {
			padding: 0;
			border-right: 2px solid #fff;
			text-align: right;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			vertical-align: top;
			width: 1%;
			background: $postbody-code-linenumber-background-color;
			color: $postbody-code-linenumber-color;
			padding-top: $postbody-code-vertical-padding;
			padding-bottom: $postbody-code-vertical-padding;
			
			.number {
				cursor: default;
				display: block;
				padding: 0 5px 0 0;
				text-align: right;
				width: 26px;
			}
		}
		
		.lines {
			background-color: $postbody-code-background-color;
			color: $postbody-code-color;
			padding: 0;
			padding-left: 5px;
		}
	}
	
	.code {
		border-radius: $border-radius-primary;
		font-family: Monaco, monospace;
		font-size: $postbody-code-font-size;
		line-height: $postbody-code-line-height;
		white-space: pre;
		background-color: $postbody-code-background-color;
		color: $postbody-code-color;
		padding: $postbody-code-vertical-padding 0;
		max-height: $postbody-code-line-height * 40;
		overflow: auto;
		overflow-y: auto;
		overflow-x: hidden;
		
		.code-lines {
			display: inline-block;
			border-right-width: 2px;
			text-align: right;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			vertical-align: top;
			background: $postbody-code-linenumber-background-color;
			color: $postbody-code-linenumber-color;
			padding-right: 5px;
			width: 26px;
			border-right: 2px solid #fff;
			margin-right: 5px;
			margin-top: $postbody-code-vertical-padding * -1;
			padding-top: $postbody-code-vertical-padding;
			margin-bottom: $postbody-code-vertical-padding * -1;
			padding-bottom: $postbody-code-vertical-padding;
		}
	}
	
	code {
		border-radius: $border-radius-primary;
		font-family: Monaco, monospace;
		font-size: $postbody-code-font-size;
		line-height: $postbody-code-line-height;
		background-color: $postbody-code-background-color;
		color: $postbody-code-color;
		white-space: nowrap;
	    padding: 0;
	    max-height: $postbody-code-line-height * 40;
	    overflow: auto;
		overflow-y: auto;
		overflow-x: hidden;
	    
	    display: inline-block;
	    height: auto !important;
	    padding-left: 38px;
	    padding-top: $postbody-code-vertical-padding;
		padding-bottom: $postbody-code-vertical-padding;
	    position: relative !important;
	    top: 0 !important;
	    left: 0 !important;
	    display: block;
	    
	    &:before {
		    content: "1 2 3 4 5 6 7 8 9 . .";
		    position: absolute;
		    top: 0;
		    left: 0px;
		    width: 10px;
		    height: 100%;
		    white-space: normal;
		    text-align: right;
		    color: $postbody-code-linenumber-color;
		    overflow: hidden;
		    background: $postbody-code-linenumber-background-color;
		    padding: $postbody-code-vertical-padding 5px 0 16px;
		    border-right: 2px solid #fff;
	    }
	}
	
	ul, ol {
		padding: 8px 0 0;
		margin: 0 28px $font-size-primary;
		
		br {
			display: none;
		}
	}
	
	ul {
		list-style: disc !important;
	}
	ol {
		list-style: decimal !important;
	}
	
	.post.editing .bodytext iframe {
		height: 0;
		width: 0;
	}
}
