@import url(../reindeer/styles.css);

/* views */
@import url(categoryview/style.css);
@import url(threadview/style.css);

/* components */
@import url(breadcrumbs/style.css);
@import url(contextmenu/style.css);
@import url(floatingbar/style.css);

.v-app,
.v-popupview, .v-popupview:hover {
	background: #fff;
	font-size: 14px;
	color: #464440;
	text-decoration: none;
}

.v-floatingbar .v-popupview {
	background: transparent;
}

.v-popupview {
	cursor: default;
}

a:link, 
.v-link a:link span,
a:visited, 
.v-link a:visited span,
.v-button-link .v-button-caption {
	color: #00b4f0;
	text-decoration: none;
}

button.v-nativebutton .v-nativebutton-caption {
	color: #fff;
	font-size: 12px;
	line-height: 1.4em;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
	padding: 0 16px;
}
button.v-nativebutton {
	border-top-color: #82c076;
	border-right-color: #32981d;
	border-bottom-color: #31961d;
	border-left-color: #32981d;
	background: -moz-linear-gradient(#51c831, #32a41e);
	background: -webkit-linear-gradient(#51c831, #32a41e);
	background: linear-gradient(#51c831, #32a41e);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.v-label-h1 {
	font-size: 140%;
}
.v-label-h2 {
	font-size: 130%;
}
.v-label-h3 {
	font-size: 120%;
}
.v-label-h4 {
	font-size: 110%;
}
.v-label-h1,
.v-label-h2,
.v-label-h3,
.v-label-h4 {
	margin: 10px 0;
}

.v-drag-element {
    opacity: 0.65;
    filter: alpha(opacity=65);
}
.v-drag-element,
.v-drag-element * {
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.v-popupbutton.popupIndicatorHidden .v-popup-indicator {
	display: none;
}

.v-horizontallayout-halfMargin .v-horizontallayout-margin,
.v-verticallayout-halfMargin .v-verticallayout-margin {
	padding: 9px;
}

.hidden {
	visibility: hidden;
}