.threadview .spacer {
    margin-bottom: 105px;
    margin-top: 50px;
    
    .eof {
        display: none;
    }
}

.authoring {
    & > .v-verticallayout {
        padding-left: 150px;
    }
    
    .filerow {
        .v-textfield.v-widget{
            padding-left: 20px;
            background: url(images/icon-attachment.png) no-repeat left center;
        }
        
        .deleteattachment {
                background: url(images/icon-delete-attachment.png) no-repeat right center;
            cursor: pointer;
        }
    }
}

.newthread {
     .topiclabel.v-widget {
        font-size: 16px;
        width: 144px !important;
        padding-left: 24px;
    }
    
    .topicfield {
        font-size: 16px;
        line-height: 20px;
        height: 30px;
        border: 2px solid #ccc;
        border-radius: 4px;
        text-indent: 0.5em;
        font-weight: bold;
    }
}

.v-caption-wysiwyg-editor {
    padding-bottom: 5px;
    padding-top: 10px;
}



