@mixin threadlisting {
	
	.threadlisting {
		width: 100%;
	    display: block !important;
	
		.threadlistingrow {
			height: 40px;
			white-space: nowrap;
			-webkit-transform: translatez(0);
			position: relative;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding-left: 5px;
			padding-right: 50px;
			overflow: hidden;
			display: block;
			cursor: pointer;
			
			@include animation(horizontal-fade-in 450ms);
			
		    &.unread {
			    .topic {
			    	font-weight: 500;
			    	
			    	html.win &,
			    	body.v-win & {
			    		font-weight: 700;
			    	}
			    }
			    
			    .topicname:before {
					content: "\2022\00a0";
				}
		    }
		    
		    & > * {
		    	display: inline-block;
		    	vertical-align: middle;
		    	line-height: 1;
		    }
		    
		    &:before {
		    	content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background: $threadlisting-row-border-bottom-color;
		    }
		    
		    &:hover {
		    	&:after{
			    	height: 2px;
					width: 100%;
					transition: all 300ms;
				}
				
				.dropdown {
					visibility: visible;
				}
		    }
		    
		    &:after {
		    	width: 0;
				transition: all 460ms;
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1px;
				background: $threadlisting-row-hover-underline-color;
				
				.v-sa:not(.v-ch) & {
					height: 2px;
				}
		    }
		    
		    .touch &:after {
		    	display: none;
		    }
		    
			.followtopic:HOVER:before,
			&.following .followtopic:before {
			 	color: $highlight-color;
			 	visibility: visible;
			}
			
			&.following .followtopic:before {
				@include animation(fade-in 500ms);
			}
			
			&:hover .followtopic:before {
				visibility: visible;	
			}
			
			&.maynotfollow .followtopic {
				display: none;
			}
			
			.followtopic:before {
				font-family: "Tori-Icons";
				content: "\e605";
				position: absolute;
				left: 3px;
				top: 2px;
				font-size: 12px;
				color: $threadlisting-follow-icon-color;
				visibility: hidden;
			}
			
			
			.threadicons {
				font-family: "Tori-Icons";
				vertical-align: top;
				font-size: 12px;
			}
			
			&.sticky .threadicons:before {
				content: "\e004";
				color: $thread-sticky-icon-color;
				margin-left: 5px;
				@include animation(fade-in 500ms);
			}
			&.locked .threadicons:after {
				content: "\e00c";
				color: $thread-locked-icon-color;
				margin-left: 5px;
				@include animation(fade-in 500ms);
			}
		
			.topic {
				transition: all 320ms;
				-webkit-transform: translatez(0);
		    	font-size: 15px;
				font-weight: 400;
				padding-left: 20px;
				line-height: 40px;
				color: #2698E0;
				width: 55%;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				vertical-align: middle;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				
				&:after {
					font-family: "Tori-Icons";
					vertical-align: middle;
					padding-left: 5px;
				}
		    }
		    
		    .started {
		    	width: 21%;
		    	font-size: 12px;
		    	overflow: hidden;
		    	white-space: normal;
		    }
		    
		    .replycountwrapper {
				text-align: center;
				width: 36px;
				color: $font-color-primary;
				display: inline-block;
				font-size: 11px;
				position: relative;
				
				&:BEFORE,
	    		.replycount:BEFORE,
	    		.replycount:AFTER {
		    		content: "\e607";
					font-family: "Tori-Icons";
					position: absolute;
					font-size: 22px;
					left: 7px;
					top: -4px;
					color: #D7D7D7;
					background-color: #fff;
					z-index: -1;
		    	}
		    	
		    	.replycount:BEFORE {
		    		left: 5px;
					top: -6px;
		    	}
		    	
		    	&:BEFORE {
		    		display: none;
	    			left: 3px;
					top: -8px;
		    	}
		    	
			}
	    	
	    	&.shortthread .replycountwrapper .replycount:BEFORE {
	    		display: none;
	    	}
	    	&.longthread .replycountwrapper:BEFORE {
	    		display: block;
	    	}
	    	
	    	&.noreplies {
	    		.replycountwrapper {
	    			visibility: hidden;
	    		}
	    		.latestby{
	    			color: $font-color-primary;
	    		}
	    		.latesttime {
	    			display: none;
	    		}
	    	}
		    	
		    .latest {
		    	width: 24%;
		    	font-size: 12px;
		    	white-space: normal;
		    	-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 36px;
				margin-left: -36px;
				text-decoration: none;
		    }
		    
		    .startedby,
		    .latestby {
				overflow: hidden;
				text-overflow: ellipsis;
				color: $font-color-secondary;
				font-weight: normal;
				padding: 0 5px 0 3px;
				white-space: nowrap;
		    }
		    
			 
			.startedtime, .latesttime {
				border-radius: 3px;
				padding: 2px 3px;
				display: inline-block;
				white-space: nowrap;
			}
			 
			 .startedtime {
			 	background: #F7F7F7;
				color: #888;
			 }
			 
			 .latesttime {
			 	background: #F0F8FC;
				color: #3E8DB5;
			 }
			 
			 .dropdown {
			 	vertical-align: middle !important;
			 	visibility: hidden;
			 	font-size: 16px;
			 }
		 }
		 
		.threadlisting-placeholder {
			height: 40px;
			border-bottom: 1px solid $threadlisting-row-border-bottom-color;
			position: relative;
		 
	    	&:before {
				padding-left: 26px;
				content: "Loading Post...";
				color: $font-color-primary;
				line-height: 40px;
			}
		 	
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				background: $threadlisting-row-hover-underline-color;
		        height: 1px;
		        opacity: 1;
		        -webkit-animation: loading 1000ms ease-in;
		        -webkit-animation-iteration-count: infinite;
		        animation: loading 1000ms ease-in;
		        animation-iteration-count: infinite;
		 	}
		}
	}
}

@include keyframes(horizontal-fade-in) {
	0% { 
		opacity: 0;
		@include transform(translatex(-10px));
	}
}

@include keyframes(loading) {
	0% {
	    width: 0%;
	    height: 2px;
	}
	30% {
	    width: 30%;
	    height: 1px;
	}
	70% {
	    width: 40%;
	    left: 60%;
	}
	100% {
	    width: 0%;
	    left: 100%;
	}
}
