@import "variables.scss";

.threadlisting {
    width: 100%;
    display: block !important;

	.threadlistingrow {
		height: 40px;
		white-space: nowrap;
		-webkit-transform: translatez(0);
		position: relative;
		box-sizing: border-box;
		padding-right: 320px;
		padding-left: 20px;
		
	    &.unread .topic {
	    	font-weight: 500;
	    }
	    
	    & > * {
	    	display: inline-block;
	    	vertical-align: middle;
	    	line-height: 1;
	    }
	    
	    &:before {
	    	content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: #e8e8e8;
	    }
	    
	    &:hover {
	    	&:after{
		    	height: 2px;
				width: 100%;
				transition: all 300ms 100ms;
			}
			
			.topic {
				-webkit-transform: translatex(4px);
				transition: all 120ms 80ms;
			}
			
			.dropdown {
				visibility: visible;
			}
	    }
	    
	    &:after {
	    	width: 0;
			transition: all 460ms;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			background: #96cdf0;
	    }
	    
	    &:first-child .latesttime:before {
	 		content: "LATEST";
        	margin-right: 10px;
        	font-size: 12px;
        	color: #555; 
	 	}
	 	
	 	&:first-child .postcount:before {
			content: "POSTS";
        	margin-right: 10px;
        	font-size: 12px;
        	color: #555; 
		}
	}
	
	.topic {
		transition: all 320ms;
		-webkit-transform: translatez(0);
    	font-size: 15px;
		font-weight: 300;
		line-height: 40px;
		color: #2698E0;
		width: 78%;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		vertical-align: middle;
    }
    
    .startedby {
    	width: 22%;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 13px;
    }
	
	 .postcount {
	 	text-align: right;
		width: 65px;
		margin-left: 0;
	 }
	 
	 .latesttime {
	 	width: 130px;
		padding-left: 30px;
		overflow: hidden;
		font-size: 12px;
		text-align: right;
	 }
	 
	 .dropdown {
	 	vertical-align: middle !important;
	 	margin-top: 6px;
	 	visibility: hidden;
	 	padding-left: 30px;
	 }
	 
	 .threadlisting-placeholder {
	 	height: 40px;
	 }
}

