@import "../base/base.scss";
@import "dropdown.scss";
@import "post.scss";
@import "categoryview.scss";
@import "breadcrumbs.scss";
@import "threadlisting.scss";
@import "threadview.scss";
@import "floatingbar.scss";
@import "recentbar.scss";

@font-face {
    font-family: 'Tori-Icons';
    src:url('fonts/Tori-Icons.eot');
    src:url('fonts/Tori-Icons.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tori-Icons.woff') format('woff'),
        url('fonts/Tori-Icons.ttf') format('truetype'),
        url('fonts/Tori-Icons.svg#Tori-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
@mixin tori {
    @include base;
    @include dropdown;
    @include post;
    @include recentbar;
    
   	.debugcontrolpanel {
   		margin-bottom: 50px;
   	}
    
    .portlet-body & .v-ui{
    	overflow: visible;
    }
    
    &,
    .v-widget {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #555;
    }
    
    .v-link span,
    a {
        text-decoration: none;
        color: $link-color;
        
        &:HOVER {
            text-decoration: underline;
        }
    }
    
    .editview {
        .subtitle {
            padding-top: 20px;
            font-weight: bold;
        }
        
        .v-table {
            .v-selected {
                background: #0db5e7;
            }
            
            input {
                margin: 2px 0;
            }
        }
        
        .v-checkbox label {
            display: inline-block;
            padding-left: 5px;
            margin-bottom: 0;
        }
        
    }
    
    
    .v-button {
        outline: none;
        cursor: pointer;
        background: #fff;
        color: $button-color;
        border: $button-border;
        border-radius: $button-border-radius;
        
        &.secondarybutton {
        	color: $secondary-button-color;
        	border: $secondary-button-border;
        }
    }
    
    
    
    .v-floatingbar {
        position: fixed !important;
        padding: 0;
        white-space: normal;
        -moz-box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
        -webkit-box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
        box-shadow: 0 0 10px rgba(60, 59, 53, 0.5);
        z-index: 99 !important;
        margin-top: 0 !important;
    }
    
    .headerlayout {
		background: #F7F7F7;
		background-image: -o-linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0.00) 61%);
		background-image: -moz-linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0.00) 61%);
		background-image: -webkit-linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0.00) 61%);
		background-image: -ms-linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0.00) 61%);
		background-image: linear-gradient(-270deg, #FFFFFF 0%, rgba(255,255,255,0.00) 61%);
		margin-top: 30px;
		
		.v-label {
			font-family: HelveticaNeue-Light;
			font-size: 15px;
			color: #888;
			line-height: 18px;
			
			&.h2 {
				font-size: 18px;
				color: #555;
				line-height: 22px;
			}
		}
	}
	
	.v-shadow {
		display: none;
	}
	
	.v-window-closebox {
		display: none;
	}
}