$header-background-color: #f0efef;

// Primary variables
$popup-border-width: 2px;
$popup-border-style: solid;
$popup-border-color: #d1d1d1;

$highlight-color: #2AAAE6;

$link-color: $highlight-color; 

// Button
$button-border-radius: 3px;
$button-color: $highlight-color;
$button-border: 2px solid rgba(41,170,230,0.65);
$secondary-button-color: #555;
$secondary-button-border: 2px solid #C7C7C7;


// Dropdown
$dropdown-highlight-color: $highlight-color;
$dropdown-button-border: 1px solid #C1C1C1;
$dropdown-popup-border: $popup-border-width $popup-border-style $popup-border-color;

// Post
$post-avatar-border-color: #D7D7D7;
$post-avatar-border: 2px solid $post-avatar-border-color;
$post-anonymous-avatar-color: #fff;
$post-anonymous-avatar-background-color: $post-avatar-border-color;
$post-permalink-color: #AAA;
$post-separator-border: 1px solid #E8E8E8;