// Primary variables
$popup-border-width: 2px !default;
$popup-border-style: solid !default;
$popup-border-color: #d1d1d1 !default;
$popup-background-color: #fff !default;

$font-family-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-secondary: "HelveticaNeue-Light", "Helvetica Neue Light", $font-family-primary !default;
$font-family-tertiary: "HelveticaNeueMedium", "HelveticaNeue-Medium", $font-family-primary !default;
$font-size-primary: 14px !default;
$font-color-primary: #888 !default;
$font-color-secondary: #555 !default;

$highlight-color: #2AAAE6 !default;

$border-radius-primary: 0 !default;

$separator-border-color: #e8e8e8 !default;

// Recent bar
$recent-bar-primary-shadow-color: #F5F5F5 !default;
$recent-bar-title-color: #8a8a8a !default;

// Breadcrumbs
$breadcrumbs-categorylink-separator-color: #ccc !default;
$breadcrumbs-viewcaption-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", $font-family-primary !default;
$breadcrumbs-viewcaption-letter-spacing: normal !default;

// Button
$button-border-radius: 4px !default;
$button-border: 2px solid rgba(41,170,230,0.65) !default;
$button-font-size: 13px !default;
$secondary-button-border: 2px solid #C7C7C7 !default;

// Dropdown
$dropdown-button-border: 1px solid #C1C1C1 !default;


// Post
$post-avatar-border-color: #D7D7D7 !default;
$post-anonymous-avatar-color: #fff !default;
$post-permalink-color: #AAA !default;
$post-body-line-height: 22px !default;
$post-editing-background: #F5F5F5 !default;
$post-vote-icon-color: #ccc !default;

// Post body
$postbody-quote-background-color: #F7F7F7 !default;

$postbody-code-linenumber-background-color: #E8F6FD !default;
$postbody-code-linenumber-color: #94BBCD !default;
$postbody-code-background-color: #F3FBFF !default;
$postbody-code-color: #5D7783 !default;
$postbody-code-vertical-padding: 4px !default;
$postbody-code-font-size: 13px !default;
$postbody-code-line-height: 18px !default;

$postbody-quote-code-linenumber-background-color: #E7E7E7 !default;
$postbody-quote-code-background-color: #ECECEC !default;

//Thread listing
$threadlisting-latest-color: #2698E0 !default;
$threadlisting-row-hover-underline-color: #96CDf0 !default;
$threadlisting-follow-icon-color: #ccc !default;

$thread-sticky-icon-color: #50D497 !default;
$thread-locked-icon-color: #EDC628 !default;

// Recent bar
$recent-bar-border-bottom-color: $separator-border-color !default;

// Link
$link-color: $highlight-color !default; 

// Button 
$button-color: $highlight-color;
$secondary-button-color: $font-color-secondary !default;

// Dropdown
$dropdown-highlight-color: $highlight-color;
$dropdown-popup-border: $popup-border-width $popup-border-style $popup-border-color !default;

// Post
$post-avatar-border: 1px solid $post-avatar-border-color !default;
$post-anonymous-avatar-background-color: $post-avatar-border-color !default;
$post-separator-border: 1px solid $separator-border-color !default;

// Post body
$postbody-quote-code-color: $postbody-quote-code-linenumber-color !default;
$postbody-quote-quotationmark-color: $highlight-color !default;
$postbody-quote-code-linenumber-color: $font-color-primary !default;

// Popupbutton
$popupbutton-border: $popup-border-width $popup-border-style $popup-border-color !default;
$popupbutton-background-color: $popup-background-color !default;

// Window
$window-background-color: $popup-background-color !default;
$window-border: $popup-border-width $popup-border-style $popup-border-color !default;

// Thread listing
$threadlisting-row-border-bottom-color: $separator-border-color !default;
