.menupopup {
	padding: 3px 0;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #c8c7b5;
}

.menupopup .link,
.menupopup .link:focus,
.menupopup .link:active {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #c8c7b5;
}

.menupopup .link:last-child {
	border-bottom: 0;
}

.menupopup .link:hover {
	background-color: #00b4f0;
}

.menupopup .link:hover .v-button-caption {
	color: white;
}

.menupopup .link .v-button-caption {
	color: #00b4f0;
	text-decoration: none;
	font-weight: bold;
}

.contextmenu .v-button-opened {
	visibility: visible;
}

.v-popupbutton-popup, 
.v-thread-listing-row-popup {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px;	
	-o-border-radius: 4px;	
	border-radius: 4px;
	border: 2px solid #c8c7b5;	
}

.menupopup .v-button-caption:before { 
	font-family: 'Tori-Icons';
	padding-right: 5px; 
	font-size: 16px;
	vertical-align: middle;
}

.menupopup .icon-follow .v-button-caption:before { content: "\e00d"; }
.menupopup .icon-unfollow .v-button-caption:before { content: "\e002"; }
.menupopup .icon-ban .v-button-caption:before { content: "\e011"; }
.menupopup .icon-unban .v-button-caption:before { content: "\e003"; }
.menupopup .icon-delete .v-button-caption:before { content: "\e00f"; }
.menupopup .icon-edit .v-button-caption:before { content: "\e00e"; }
