.menupopup {
	padding: 0;
}

.menupopup .link,
.menupopup .link:focus,
.menupopup .link:active {
	display: block;
	padding: 4px;
	border-bottom: 1px solid black;
}

.menupopup .link:last-child {
	border-bottom: 0;
}

.menupopup .link:hover {
	background-color: #ccc;
}

.menupopup .link .v-button-caption {
	color: #222;
	text-decoration: none;
}

.contextmenu .v-button-opened {
	visibility: visible;
}

.v-popupbutton-popup, 
.v-popupview-popup-thread-listing-row {
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}