.post {
	padding-top: 50px;
	border-bottom: 2px solid #e9e9e1;
	background: #fff;
}

.post table {
	width: 100%;
}

.post .author {
	width: 153px; /* 158px - padding */ 
	min-width: 153px; /* 158px - padding */ 
	padding: 5px 5px 5px 0;
	vertical-align: top;
}

.post td.body {
	width: 100%;
	vertical-align: top;
}

.post div[location="attachments"] .v-captionwrapper {
	border-top: 1px solid #e9e9e1;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-left: 6px;
}

.post div[location="attachments"] .v-caption {
	float: left;
	font-weight: bold;
	padding-right: 15px;
	color: #5f5f5f;
}

.post div[location="avatar"] {
	margin-bottom: 0.5em;
}
.post div[location="avatar"] img {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.post div[location="authorname"] {
	color: #000;
	font-weight: bold;
}

.post div[location="postedtime"] span {
	white-space: nowrap;	
	color: #a09f91;
	font-size: 13px;
	position: absolute;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	

}
.post div[location="postedtime"] {
	position: relative;
	height: 1.2em;
	overflow: hidden;
}
.post div[location="postedtime"] .timestamp {
	top: 1.5em;
}
.post .author:hover div[location="postedtime"] .timestamp {
	top: 0;	
}
.post div[location="postedtime"] .prettytime {
	top: 0;
}
.post .author:hover div[location="postedtime"] .prettytime {
	top: -1.5em;
}

.post div[location="permalink"] a {
	font-size: 12px;
}

.post div[location="permalink"] a:hover {
	color: black;
}

.post div[location="body"] {
	padding: 5px;
}

.post div[location="scrollto"] .v-button {
	padding-right: 18px;
	background: url(../images/icon-scroll-to-top.png) center right no-repeat;
}

.post .toolbar {
	background: #f4f4f0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;	
}
.post .toolbar td {
	padding: 7px 0;
	vertical-align: middle;	
}

.post td.actions {
	padding-right: 16px;
	text-align: right;
	width: 100%;
}

.post td.actions > div {
	display: inline-block;
	vertical-align: middle;
}

.post td.actions div[location="report"] {
	color: #AAA;
}

.post td.actions div[location="report"],
.post td.actions div[location="settings"] {
	visibility: hidden;
}

.post td.actions:hover div[location="report"],
.post td.actions:hover div[location="settings"] {
	visibility: visible;
}

/* Summary post that is displayed in the floating bar */
.post.summary {
	padding: 0;
	margin-top: 0;
	border: none;
}
.post.summary table.container {
	margin: 0;	
}
.post.summary div[location="permalink"],
.post.summary div[location="postedtime"],
.post.summary div[location="score"],
.post.summary .toolbar {
	display: none;
}
.post.summary .author {
	width: 151px;
	min-width: 151px;
	padding: 11px 0 0 5px;
}
.post.summary .author div[location="avatar"] {
	width: 23px;
	float: left;
}
.post.summary .author div[location="authorname"] {
	margin-top: 0.2em;
	margin-left: 10px;
	width: 100px;
	float: left;
}
.post.summary .author div[location="authorname"] .v-label {
	white-space: normal;	
}
.post.summary .author div[location="avatar"] .v-embedded,
.post.summary .author div[location="avatar"] .v-embedded img {
	width: 100% !important;
	height: auto !important;
}
.post.summary td.body {
	padding: 9px 0;	
}

.post.summary,
.v-floatingbar.threadSummaryBar {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.v-floatingbar.threadSummaryBar .popupContent
.v-floatingbar.threadSummaryBar .threadSummary {
	background: transparent;
}
.v-floatingbar.threadSummaryBar,
.v-floatingbar.threadSummaryBar:hover {
	padding: 0 8px;
	margin-left: -8px !important;
	background: url(../images/floatingbar-bg.png) #fff top left repeat-x;	
	border: 2px solid #64635a;
}
.v-floatingbar .threadSummary {
	-moz-transition: height 0.2s ease-in-out;
	-webkit-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;	
}
.threadSummary .topRow {
	background: #64635a;
	color: #fff;
	font-size: 13px;
	white-space: nowrap;
}
.threadSummary .topRow,
.threadSummary .topRow .v-label {
	cursor: pointer;
}
.threadSummary .topRow .v-horizontallayout-margin {
	padding: 9px;
}
.threadSummary .topRow .show-or-hide {
	width: 115px;
	padding-left: 16px;
	background: url(../images/icon-collapse.png) left center no-repeat;
}
.threadSummary .topRow .collapsed {
	background-image: url(../images/icon-expand.png);
}

.reportwindow .v-window-outerheader {
	padding: 5px;
	background: white;
	height: auto;
}

.reportwindow .v-window-header {
	color: #222;
	text-shadow: none;
}

.reportwindow .explanationlayout .v-csslayout-margin {
	padding-left: 20px;
}

.reportwindow .v-verticallayout .v-verticallayout-margin {
	padding: 5px;
}

.scorecomponent {
	white-space: nowrap;
	font-size: 13px;
	font-weight: bold;
	margin-left: 15px;
	position: relative;
	top: 1px;
}
.scorecomponent .vote {
	margin-right: 11px;
	padding: 0;
	border: none;
	height: 16px;
	width: 10px;
	float: left;
	background: url(../images/sprite-votearrows.png) top left no-repeat;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.scorecomponent .v-nativebutton-caption {
	display: none;
}
.scorecomponent .upvote         { background-position:   0px   0px; }
.scorecomponent .downvote       { background-position: -13px   0px; }
.scorecomponent .done.upvote    { background-position:   0px -16px; }
.scorecomponent .done.downvote  { background-position: -13px -16px; }

.scorecomponent .v-label {
	margin-left: 1px;
	float: left;
}
.scorecomponent .positive {
	color: #40b527;
}
.scorecomponent .negative {
	color: #ee7c08;
}
.scorecomponent .zero {
	visibility: hidden;	
}

.threadview .spacer {
	text-align: center;
	font-size: 20px;
	color: #666;
	padding: 1em 0;
	font-style: italic;
	border-bottom: 2px solid #f4f4f0;
	margin-bottom: 105px;
	margin-top: 50px;
	overflow: visible;
}

.threadview .spacer .eof {
	font-size: 46px;
	font-family: Courier New, monospace;
	font-style: normal;
	color: #deddd3;
	padding: 0 26px;
	background: #fff;
	border: 2px solid #f4f4f0;
	position: relative;
	top: 0.7em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.authoring table {
	width: 100%;
	border-spacing: 0;
}

.authoring td {
	vertical-align: top;
	padding: 0;
}

.authoring .buttons {
	text-align: left;
	margin: 11px 0;
}

.authoring .buttons > div {
	display: inline-block;
}
.authoring .buttons div[location="clearbutton"] {
	display: none !important;
}

.authoring .buttons div[location="uploadbutton"] {
	float: right;
}

.authoring div[location="formattingsyntax"] {
	float: right;	
}

.authoring div[location="attachments"] .v-caption{
	font-weight: bold;
	color: #5F5F5F;
}

/** The following two icons are from http://www.famfamfam.com/lab/icons/mini/ */
.authoring div[location="attachments"] .filerow .v-textfield{
	padding-left: 20px;
	background: url(../images/page_attachment.gif) no-repeat left center;
}

.authoring div[location="attachments"] .filerow .v-csslayout-margin{
	background: url(../images/action_stop.gif) no-repeat right center;
	cursor: pointer;
} 

.authoring div[location="toolbar"] select {
	border: 2px solid #c8c7b5;
}

.authoring div[location="toolbar"] button {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
}

.authoring div[location="toolbar"] button img {
	margin: 0;
	padding: 0;
}

.authoring div[location="toolbar"] .v-nativebutton {
	border: none;
	background: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
}

.authoring div[location="toolbar"] .v-horizontallayout-margin {
	padding: 0px;
	padding-bottom: 2px;
}

.authoring div[location="input"] textarea {
	width: 100%;
	font-size: 14px;
	color: #464440;
	border: none;
	border: 2px solid #c8c7b5;
	padding: 12px;
	margin-bottom: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.authoring div[location="captionlabel"] {
	color: #64635a;
	font-size: 18px;
	font-weight: bold;	
}

.authoring .previewcaption {
	font-size: 18px;
	color: #8c8b7e;
}

.authoring div[location="preview"] {
	background: url(../images/preview-bg.png) #fff top left repeat;
	padding: 18px 14px;
	max-height: 180px;
	overflow: auto;
}

.v-floatingbar.alignment-bottom.quickReply {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-moz-box-shadow: 0 0 10px rgba(200, 199, 181, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(200, 199, 181, 0.3);
	box-shadow: 0 0 10px rgba(200, 199, 181, 0.3);
}
.v-floatingbar.quickReply,
.v-floatingbar.quickReply:hover {
	padding: 0 8px;
	margin-left: -8px !important;
	background: #a09f91;	
	border: 2px solid #a09f91;
}

.authoring .v-panel-content > div {
	background: transparent;
}
.authoring .v-panel-content {
	border: none;
}
.authoring .v-panel-deco,
.authoring .v-panel-captionwrap {
	display: none;
}

.authoring.compact td {
	vertical-align: middle;
}

.authoring.compact div[location="formattingsyntax"],
.authoring.compact div[location="preview"],
.authoring.compact div[location="toolbar"],
.authoring.compact .toolbar,
.authoring.compact .buttons,
.authoring.compact .previewcaption {
	display: none;	
}
.authoring.compact div[location="input"] textarea {
	height: 1.8em;
	padding: 4px 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: none;
	color: #999992;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.v-floatingbar .authoring {
	-moz-transition: height 0.2s ease-in-out;
	-webkit-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;
}
.v-floatingbar .authoring div[location="toolbar"] {
	display: none;
}
.v-floatingbar .authoring div[location="captionlabel"] .v-label,
.v-floatingbar .authoring .previewcaption {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin-left: 9px;
}

.v-floatingbar .authoring div[location="captionlabel"] .v-label {
	padding-right: 18px;
	background: url(../images/icon-expand.png) right center no-repeat;
}
.authoring.compact div[location="captionlabel"] .v-label {
	background-image: none;
}

.threadview .newthread .topiclabel {
	text-align: right;
}

.threadview .newthread .topicfield {
	font-size: 120%;
}

.post div[location="signature"] {
	font-size: smaller;
	margin: 0.5em 1em;
}
.post div[location="signature"] .v-label {
	border-top: 1px solid #9f9f9f;	
}

/* Post body formatting */
.post .body .quote-title,
.post .body .quote,
.authoring .quote-title,
.authoring .quote {
	margin-left: 10px;
	padding-left: 37px;
	padding-right: 37px;
}
.post .body .quote-title,
.authoring .quote-title {
	font-weight: bold;
	min-height: 20px;
	padding-top: 10px;
	background: url(../images/quote.png) #e9e9e1 8px 10px no-repeat;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.post .body .quote,
.authoring .quote {
	background: #e9e9e1;
	padding-bottom: 12px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.authoring .quote,
.authoring .quote-title {
	opacity: 0.8;
}
.post .body .code,
.authoring .code {
	white-space: nowrap;
	padding: 0;
	margin: 20px 0 30px 0;
	font-size: 13px;
	font-family: Monaco, "Courier New", monospace;
	border: 2px solid #00b4f0;
	line-height: 1.6em;
	max-height: 306px;
	overflow: auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.post .body .code .code-lines,
.authoring .code .code-lines {
	display: block;
	float: left;
	padding: 0px 9px 0px 18px;
	margin-right: 12px;
	color: #96c7d7;
	background: #e6f8fe;
    -moz-user-select: none;
    -webkit-user-select: none;	
}
.authoring .code {
	border-color: rgba(0, 180, 240, 0.6);
}
.authoring .code .code-lines {
	background: rgba(230, 248, 254, 0.6);
}

.v-lazylayout-placeholder {
	background-image: url("../images/loadingpost-bg.png");
	background-repeat: no-repeat;
	background-position: center;
}
