.post.banned-author {
	/* These two first rules are for IE */
	zoom: 1;
	filter: alpha(opacity=50);
	
	opacity: 0.5;
}

.post {
	width: 100%;
	border-top: 50px solid transparent;
	border-bottom: 2px solid #e9e9e1;
	background: #fff;
	display: table;
	table-layout: fixed;
}

.post table.container {
	table-layout: fixed;
}

.post .author {
	width: 153px; /* 158px - padding */ 
	min-width: 153px; /* 158px - padding */ 
	padding: 5px 5px 5px 0;
	vertical-align: top;
	float: left;
}

.post .footer {
	float: left;
	width: 100%;
	clear: both;
}

.post .attachments {
	border-top: 1px solid #e9e9e1;
	margin-top: 50px;
	float: left;
	padding-left: 105px;
	position: relative;
	padding-top: 5px;
	width: 100%;
}

.post .attachments:before {
	font-weight: bold;
	color: #5f5f5f;
	content: "Attachments";
	position: absolute;
	left: 0;
}

.post .attachments a {
	float: left;
	clear: both;
}

.post .author .avatar {
	margin-bottom: 0.5em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 90px;
	margin-right: 63px;
}

.post .authorname {
	color: #000;
	font-weight: bold;
	display: inline-block;
}

.post .badge {
	display: inline-block;
	vertical-align: -1px;
}

.post .badge a {
	font-family: "Tori-Icons";
	font-size: 14px;
	color: #ee7d09;
}

.post .postedtime span {
	white-space: nowrap;	
	color: #a09f91;
	font-size: 13px;
	position: absolute;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	

}
.post .postedtime {
	position: relative;
	height: 1.2em;
	overflow: hidden;
}
.post .postedtime .timestamp {
	top: 1.5em;
}
.post .author:hover .postedtime .timestamp {
	top: 0;	
}
.post .postedtime .prettytime {
	top: 0;
}
.post .author:hover .postedtime .prettytime {
	top: -1.5em;
}

.post .permalink {
	font-size: 12px;
	float: left;
	padding-top: 10px;
}

.post .permalink:hover {
	color: black;
}

.post .body {
	padding: 5px;
	margin-left: 153px;
}

.post .toolbar {
	background: #f4f4f0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	padding: 7px 0;
	margin-left: 153px;
	height: 18px;
}

.post .actions {
	padding-right: 16px;
	float: right;
}

.post .actions > div {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}

.post .actions .report {
	color: #AAA;
	padding-right: 25px;
}

.post .actions div *{
	visibility: hidden;
	position: absolute;
}

.post .actions div {
	cursor: pointer;
	outline: none;
}

.post .actions .quote:HOVER,
.post .actions .quote:HOVER:BEFORE,
.post .actions div:HOVER:BEFORE,
.post .actions div:HOVER:AFTER {
	color: #00b4f0;
}

.post .actions .edit:AFTER {
	vertical-align: middle;
	color: #c9c9b5;
	line-height: inherit;
	font-weight: normal;
	font-size: 12px;
	text-shadow: none;
}

.post .actions .settings:before,
.post .actions .edit:before,
.post .actions .report:before,
.post .actions .quote:before {
	font-family: "Tori-Icons";
	font-size: 14px;
	padding-right: 2px;
	vertical-align: middle;
	color: #c9c9b5;
}

.post .actions .settings:before { content: "\e005"; }
.post .actions .edit:before { content: "\e00e"; }
.post .actions .edit:after { content: "Edit Post"; }
.post .actions .report:before { content: "\e014"; }
.post .actions .quote:before { content: "\e007"; }

.post .actions .quote {
	cursor: pointer;
	background: none !important;
	color: #c9c9b5;
	border: none;
	padding: 0 !important;
}


/* Summary post that is displayed in the floating bar */
.post.summary {
	padding: 0 4px;
	margin-top: 0;
	border: none;
}
.post.summary .permalink,
.post.summary .postedtime,
.post.summary .score,
.post.summary .toolbar {
	display: none;
}
.post.summary .author {
	width: 151px;
	min-width: 151px;
	padding: 11px 0 0 5px;
	
}
.post.summary .author .avatar {
	width: 23px;
	float: left;
	height: auto !important;
	margin-right: 0;
}
.post.summary .author .authorname {
	margin-left: 10px;
	width: 100px;
	float: left;
	white-space: normal;
}

.post.summary .body {
	padding: 9px 0;	
	color: #464440;
}

.post.summary .signature {
	display: none;
}

.post.summary .attachments {
	display: none;
}

.post.summary,
.v-floatingbar.threadSummaryBar {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.v-floatingbar.threadSummaryBar .popupContent
.v-floatingbar.threadSummaryBar .threadSummary {
	background: transparent;
}
.v-floatingbar.threadSummaryBar,
.v-floatingbar.threadSummaryBar:hover {
	margin-left: -2px !important;
	background: url(../images/floatingbar-bg.png) #fff top left repeat-x;	
	border: 2px solid #64635a;
	top: -999px;
}
.v-floatingbar .threadSummary {
	-moz-transition: height 0.2s ease-in-out;
	-webkit-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;
	overflow: hidden;
}
.threadSummary .topRow {
	background: #64635a;
	padding: 0 8px;
}

.threadSummary .topRow .v-label {
	color: #fff;
	font-size: 13px;
	white-space: nowrap;
}

.threadSummary .post .body {
	max-height: 200px;
	overflow-y: auto;
}

.threadSummary .topRow,
.threadSummary .topRow .v-label {
	cursor: pointer;
}
.threadSummary .topRow .v-csslayout-margin {
	padding: 9px;
}
.threadSummary .topRow .topiclabel {
	float: left;
}
.threadSummary .topRow .show-or-hide {
	float: right;
	padding-left: 16px;
	background: url(../images/icon-collapse.png) left center no-repeat;
	color: #fff;
	cursor: pointer;
}

.quickreplylayout .show-or-hide {
	float: right;
	padding-left: 16px;
	cursor: pointer;
}

.quickreplylayout .show-or-hide:BEFORE{
	content: "";
	width: 0px;
	height: 0px;
	border: 4px solid transparent;
	font-size: 0;
	border-top: 7px solid #000;
	position: relative;
	left: -3px;
	top: 4px;
}

.quickreplylayout.collapsed .show-or-hide:BEFORE {
	border: 4px solid transparent;
	border-bottom: 7px solid #000;
	top: -3px;
	left: -4px;
}

.showorhidelayout {
	cursor: pointer;
}

.threadSummary .topRow .collapsed {
	background-image: url(../images/icon-expand.png);
}


.reportwindow .v-window-outerheader {
	padding: 5px;
	background: white;
	height: auto;
}

.reportwindow .v-window-header {
	color: #222;
	text-shadow: none;
}

.reportwindow .explanationlayout .v-csslayout-margin {
	padding-left: 20px;
}

.reportwindow .v-verticallayout .v-verticallayout-margin {
	padding: 5px;
}

.scorecomponent {
	white-space: nowrap;
	font-size: 13px;
	font-weight: bold;
	margin-left: 15px;
	position: relative;
	top: 1px;
	float: left;
}
.scorecomponent .vote {
	margin-right: 11px;
	padding: 0;
	border: none;
	height: 16px;
	width: 10px;
	float: left;
	background: url(../images/sprite-votearrows.png) top left no-repeat;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}
.scorecomponent .v-nativebutton-caption {
	display: none;
}
.scorecomponent .upvote         { background-position:   0px   0px; }
.scorecomponent .downvote       { background-position: -13px   0px; }
.scorecomponent .done.upvote    { background-position:   0px -16px; }
.scorecomponent .done.downvote  { background-position: -13px -16px; }

.scorecomponent .v-label {
	margin-left: 1px;
	float: left;
}
.scorecomponent .positive {
	color: #40b527;
}
.scorecomponent .negative {
	color: #ee7c08;
}
.scorecomponent .zero {
	visibility: hidden;	
}

.threadview .spacer {
	text-align: center;
	font-size: 20px;
	color: #666;
	padding: 1em 0;
	font-style: italic;
	border-bottom: 2px solid #f4f4f0;
	margin-bottom: 105px;
	margin-top: 50px;
	overflow: visible;
}

.threadview .spacer .eof {
	font-size: 46px;
	font-family: Courier New, monospace;
	font-style: normal;
	color: #deddd3;
	padding: 0 26px;
	background: #fff;
	border: 2px solid #f4f4f0;
	position: relative;
	top: 0.7em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.authoring table {
	width: 100%;
	border-spacing: 0;
}

.authoring td {
	vertical-align: top;
	padding: 0;
}

/* IE8 wants to scroll this otherwise. */
.authoring .v-panel-content {
	overflow: hidden;
}

.authoring .buttons {
	text-align: left;
	margin: 11px 0;
}

.authoring .buttons > div {
	display: inline-block;
}

.authoring .attachments .v-caption{
	font-weight: bold;
	color: #5F5F5F;
}

/** The following two icons are from http://www.famfamfam.com/lab/icons/mini/ */
.authoring .attachments .filerow .v-textfield{
	padding-left: 20px;
	background: url(../images/icon-attachment.png) no-repeat left center;
}

.authoring .attachments .filerow .v-csslayout-margin{
	background: url(../images/icon-delete-attachment.png) no-repeat right center;
	cursor: pointer;
} 

.newthread .topicfield {
	font-size: 14px;
	color: #464440;
	border: none;
	border: 2px solid #c8c7b5;
	padding: 12px;
	margin-bottom: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.authoring .v-caption-wysiwyg-editor {
	color: #64635a;
	font-size: 18px;
	font-weight: bold;
}

.quickReply .authoring .v-caption-wysiwyg-editor {
	font-size: 16px;
	position: absolute;
	left: 60px;
	top: 2px;
}

.authoring .previewcaption {
	font-size: 18px;
	color: #8c8b7e;
}

.v-floatingbar.alignment-bottom.quickReply {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	
	-moz-box-shadow: 0 0 10px rgb(200, 199, 181);
	-webkit-box-shadow: 0 0 10px rgb(200, 199, 181);
	box-shadow: 0 0 10px rgb(200, 199, 181);
}
.v-floatingbar.quickReply{
	padding: 0 8px;
	margin-left: -8px !important;
	background: #fff;	
	border: 2px solid #64635a;
	border-bottom: none;
	bottom: -99px;
}

.v-ios .quickReply {
	display: none;
}

.authoring .v-panel-content,
.authoring .v-panel-content > div {
	background: transparent;
}
.authoring .v-panel-content {
	border: none;
}
.authoring .v-panel-deco,
.authoring .v-panel-captionwrap {
	/*display: none; <-- doesn't work: http://dev.vaadin.com/ticket/9850 */
	visibility: hidden;
}

.authoring .v-verticallayout {
	padding-left: 158px;
}

.authoring .v-caption-wysiwyg-editor {
	color: #64635a;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

.v-floatingbar .authoring {
	-moz-transition: height 0.2s ease-in-out;
	-webkit-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;
	position: relative;
	padding-top: 10px;
}

.threadview .newthread .topiclabel {
	font-size: 18px;
	font-weight: bold;
}

.threadview .newthread .topicfield {
	font-size: 18px;
	background: transparent;
	height: 30px;
}

.post .signature {
	font-size: smaller;
	margin: 0.5em 1em;
	border-top: 1px solid #9f9f9f;	
}

/* Post body formatting */
.post .body .quote-title,
.post .body .quote,
.authoring .quote-title,
.authoring .quote {
	margin-left: 10px;
	padding-left: 37px;
	padding-right: 37px;
}
.post .body .quote-title,
.authoring .quote-title {
	font-weight: bold;
	min-height: 20px;
	padding-top: 10px;
	background: url(../images/quote.png) #e9e9e1 8px 10px no-repeat;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.post .body .quote,
.authoring .quote {
	background: #e9e9e1;
	padding-bottom: 12px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.authoring .quote,
.authoring .quote-title {
	opacity: 0.8;
}
.post .body .code,
.authoring .code {
	white-space: pre;
	padding: 0;
	margin: 20px 0 30px 0;
	font-size: 13px;
	font-family: Monaco, "Courier New", monospace;
	border: 2px solid #00b4f0;
	line-height: 1.6em;
	max-height: 306px;
	overflow: auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.post .body .code .code-lines,
.authoring .code .code-lines {
	display: block;
	float: left;
	padding: 0px 9px 0px 18px;
	margin-right: 12px;
	color: #96c7d7;
	background: #e6f8fe;
    -moz-user-select: none;
    -webkit-user-select: none;	
}
.authoring .code {
	border-color: rgba(0, 180, 240, 0.6);
}
.authoring .code .code-lines {
	background: rgba(230, 248, 254, 0.6);
}

.v-lazylayout-placeholder {
	background-image: url("../images/loadingpost-bg.png");
	background-repeat: no-repeat;
	background-position: center;
}