$vaadin-green: #40b527;
$vaadin-orange: #ee7c08;
$vaadin-blue: #00b4f0;


$highlight-color: $vaadin-blue;
$font-color-primary: #8c8b7e;
$font-color-secondary: #64635a;
$separator-border-color: #e9e9e1;

$border-radius-primary: 4px;

$popup-border-color: #d3d2c4;

$recent-bar-primary-shadow-color: #f4f4f0;
$recent-bar-title-color: #8c8b7e;

$breadcrumbs-categorylink-separator-color: #c8c7b5;
$breadcrumbs-viewcaption-font-family: "HelveticaW01-RoundedBd","Helvetica Neue",sans-serif;
$breadcrumbs-viewcaption-letter-spacing: -0.05em;

$button-border: 2px solid rgba(0, 180, 240, 0.65);

$threadlisting-latest-color: #41C5F1;
$threadlisting-row-hover-underline-color: #7fd9f7;
$threadlisting-follow-icon-color: #c8c7b5;

$postbody-quote-background-color: #f4f4f0;
$postbody-code-linenumber-background-color: #e6f8fe;
$postbody-code-linenumber-color: #8fc2d3;
$postbody-code-background-color: #f5fdff;
$postbody-code-color: #5b7f8b;

$post-editing-background: #f4f4f0;
$post-vote-icon-color: #c8c7b5;

$secondary-button-border: 2px solid #c8c7b5;

$thread-sticky-icon-color: $vaadin-green;
$thread-locked-icon-color: $vaadin-orange;
