.breadcrumbs-layout .v-link {
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
}

.breadcrumbs-layout .v-link {
	padding: 6px 0 8px 8px;
}

.breadcrumbs-layout .v-link a span,
.breadcrumbs-layout .v-link a:link span,
.breadcrumbs-layout .v-link a:visited span {
	color: white;
}

.breadcrumbs-layout .v-popupbutton,
.breadcrumbs-layout .v-popupbutton .v-button-wrap {
	background: transparent;
}

.breadcrumbs-layout .dashboardlink,
.breadcrumbs-layout .categorypopup {
	background: url(../images/separator-breadcrumbs.png) transparent top right no-repeat;
}

.breadcrumbs-layout .dashboardlink {
	padding-right: 15px;
}

.breadcrumbs-layout .categorypopup.last {
	background: transparent;
}

.breadcrumbs-layout .categorypopup .v-button-wrap {
	padding: 6px 15px 0 0;
}

.breadcrumbs-layout .threadcrumb {
	position: absolute;
}


.breadcrumbs-layout .v-link.last a span,
.breadcrumbs-layout .v-link.last a:link span,
.breadcrumbs-layout .v-link.last a:visited span {
	background-image: none;
}


.breadcrumbs {
	background: url(../images/breadcrumbs-bg.png) top left repeat-x;
	margin: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.breadcrumbs .v-popupbutton .v-popup-indicator {
	background: url(../images/dropdown-arrow.png) bottom right no-repeat;
}

.breadcrumbs .v-label {
	background: #f4f4f0;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 17px 18px 17px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}


.breadcrumbs .action-bar {
	background: url(../images/breadcrumbs-bg.png) top left repeat-x;
	padding: 6px 14px 8px 0;
}
.breadcrumbs .action-bar .v-link {
	margin-left: 5px;	
}
.breadcrumbs .action-bar .v-icon {
	padding-right: 4px;
}
.breadcrumbs .action-bar a span {
	color: #fff !important;
}