
/* 
 * making the main button part appear inactive
 */

.breadcrumbs .crumb.unclickable .v-button:active {
	background-position: left 0px;
}

.breadcrumbs .crumb.unclickable .v-button:active .v-button-wrap {
    background-position: left -26px;
}

/*
 * ...but resetting the popup part's visuals to being clickable.
 */

.breadcrumbs .crumb.unclickable .v-popupbutton:active {
	background-position: left -52px;
}

.breadcrumbs .crumb.unclickable .v-popupbutton:active .v-button-wrap {
	background-position: right -78px;
}