.breadcrumbs-layout .v-link {
	padding-left: 8px;
}

.breadcrumbs .v-link a span{
	color: #fff !important;
}

.breadcrumbs-layout .v-popupbutton,
.breadcrumbs-layout .v-popupbutton .v-button-wrap {
	background: transparent;
}

.breadcrumbs-layout .breadcrumbs-separator {
	background: url(../images/separator-breadcrumbs.png) transparent top right no-repeat;
}

.breadcrumbs-layout .threadcrumb {
	position: relative;
	height: 1em;
	line-height: 1;
}

.breadcrumbs-layout .threadcrumb span{
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	width: 100%;
	top: 0;
	padding: 1px 0;
}

.breadcrumbs {
	background: url(../images/breadcrumbs-bg.png) top left repeat-x;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.breadcrumbs .v-link span {
	vertical-align: baseline;	
}

.breadcrumbs .v-popupbutton .v-popup-indicator {
	background: url(../images/dropdown-arrow.png) bottom right no-repeat;
}

.breadcrumbs .viewcaption {
	background: #f4f4f0;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 17px 18px 17px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}


.breadcrumbs .action-bar {
	background: url(../images/breadcrumbs-bg.png) top left repeat-x;
	padding-right: 14px;
}
.breadcrumbs .action-bar .v-link {
	padding-left: 5px;
}
.breadcrumbs .action-bar .v-icon {
	padding-right: 4px;
}