<table class="container" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan=2 class="author">
			<div location="avatar"></div>
			<div location="authorname"></div>
			<div location="postedtime"></div>
			<div location="permalink"></div>
		</td>
		<td class="body">
			<div location="body"></div>
		</td>
	</tr>
	<tr>
		<td valign="bottom">
			<div location="signature"></div>
			<table><tr>
				<td>
					<div location="score"></div>
				</td>
				<td class="toolbar">
					<div location="report"></div>
					<div location="settings"></div>
					<div location="scrollto"></div>
					<div location="edit"></div>
					<div location="quote"></div>
				</td>
			</tr></table>
		</td>
	</tr>
</table>